[2019-12-13 16:07] rjfd opened #7 "Implement `status` command"
The `ceph-bootstrap status` command should preform some validations to guarantee that ceph-bootstrap can work correctly in the installed system, and show the status of those checks, and if something fails, suggest possible actions to users.

List of validations:
- Salt
    - check if salt-master package is installed, or just that salt-master is available (it might be installed from source)
    - c

[2019-12-13 16:10] rjfd opened #8 "Implement `init` command"
Before running ceph-bootstrap we need to make sure that the salt pillar is correctly configured to find the `ceph-salt.sls` file created by ceph-bootstrap. This should be done automatically by the `ceph-bootstrap init` command.

Currently these are the steps we run manually before running `ceph-bootstrap config`:

[code]

[2019-12-13 16:15] rjfd opened #9 "Implement `deploy` command"
Currently after using ceph-bootstrap to configure all the options required by ceph-salt-formula we run ceph-salt-formula by issue the following salt command:

[code]
The above command is completely silent until the minions start responding after running the whole formula. The objective of the `ceph-bootstrap deploy` command is to run the ceph-salt formula but give real-time execution progress feed

[2019-12-13 16:38] rjfd opened #10 "Remove salt python API terminal output from ceph-boostrap commands"
Currently whenever ceph-bootrap runs a salt command through the salt python API, the salt python API prints to the terminal some messages in some situations. Example:

[code]

This is a problem in the salt python API, that should output those messages to the logger instead of directly to stdout, but since we can't change that part here, ceph-bootstrap should wrap the salt python API calls in way t

[2019-12-13 17:03] rjfd opened #11 "Add "System_Update" option group to config shell"
ceph-bootstrap
--
Add a `System_Update` option group to the config shell. This group should be able to configure all options required by [ceph-salt-formula:software](https://github.com/SUSE/ceph-salt-formula/blob/master/states/software.sls) state.

ceph-salt-formula
--
Currently the only thing the software state file does is to run `pkg.upgrade` module function, which will upgrade all packages of

[2019-12-16 09:31] rjfd opened #12 "Add "Apparmor" option group to config shell"
ceph-bootstrap
--
Add a `Apparmor` option group to the config shell. This group should be able to configure all options required by [ceph-salt-formula:apparmor](https://github.com/SUSE/ceph-salt-formula/blob/master/states/apparmor.sls) state.

ceph-salt-formula
--
Currently the apparmor state is not doing much. We should check what was being done in DeepSea (https://github.com/SUSE/DeepSea/tree/ma

[2020-01-10 16:40] ricardoasmarques opened #17 "Removing the last MON does not remove the "bootstrap_mon" from Pillar"
Removing the last MON should remove the "bootstrap_mon" from Pillar.

**How to reproduce:**

[code]

[2020-01-10 17:14] ricardoasmarques opened #18 "Root privileges required"
If the user does not has root privileges, then `ceph-bootstrap` should return immediately.

See: https://github.com/SUSE/DeepSea/blob/master/cli/common.py#L48-L56

[2020-01-10 17:19] ricardoasmarques opened #19 "Support IPv6"
It should be possible to set if we want to use IPv4 or IPv6.

A new config entry should be created:

[code]
whith the following commands available:

- `set ip4`
- `set ip6`

[2020-01-13 12:51] sebastian-philipp opened #21 "MGRs are using the localhost network as in `127.0.0.1:6800`"
[code]
We should make sure, MGRs use proper addresses.

[2020-01-13 14:16] #17 closed, assigned to nobody

[2020-01-13 14:25] ricardoasmarques opened #22 "Minions without role are not added to the orchestrator"
[code]

[2020-01-13 15:22] #22 closed, assigned to ricardoasmarques

[2020-01-13 16:52] rjfd commented on #21
The problem is caused when a machine has its FQDN pointing to the loopback interface address:
[code]

ceph-bootstrap currently chooses the IP address for the MONs based on the `fqdn_ip4` salt grain, which with the above `/etc/hosts` configuration will return the loopback interface IP address.

[2020-01-14 10:20] ricardoasmarques opened #24 "Remove minions only if no error is thrown"
When I try to remove one minion that has roles I receive an error message, but the internal state was partially changed.

[code]

[2020-01-14 10:56] #24 closed, assigned to ricardoasmarques

[2020-01-15 11:51] ricardoasmarques opened #28 "Roles only available in advanced mode"
Simple Mode
--
By default, roles should be disabled, so the following entries should not be visible:

- `/Cluster/Roles`
- `/Deployment`
- `/Storage`

The following **new** entry should be available:
- `/Cluster/Bootstrap_Minion`

Setting the `/Cluster/Bootstrap_Minion` will:
- set the `bootstrap_mon` value
- clear all the existing roles of `bootstrap_mon`
- add both `mon` and `mgr` roles to the `

[2020-01-16 10:05] ricardoasmarques opened #29 "Use jinja macros to access the pillar data"
There is a lot of duplicate code to fetch data from the pillar, especially due to all the handling of non-existent keys in the pillar.

The objective is to create some jinja macros that can be used to reduce the amount of duplicate code.

See https://jinja.palletsprojects.com/en/2.10.x/templates/#macros

[2020-01-16 10:10] ricardoasmarques opened #30 "Use salt-event bus to notify about execution progress"
Salt is very silent when running a salt formula or any salt state. The objective of this feature is to use the salt-event bus to notify about the execution progress of the several steps preformed by ceph-salt formula.

The event tags should have the following structure `ceph-salt/<step_name>/[started, running, finished]`

The payload of each event should depend on the `<step_name>` and the type of

[2020-01-16 15:16] rjfd commented on #18
We can use the code of deepsea-cli to do this. There is a decorator:
https://github.com/SUSE/DeepSea/blob/master/cli/common.py#L48-L56
that can be used to control which commands of ceph-bootstrap require root privileges: https://github.com/SUSE/DeepSea/blob/master/cli/deepsea.py#L272

[2020-01-16 16:16] #21 closed, assigned to ricardoasmarques

[2020-01-16 17:14] ricardoasmarques opened #31 "Prevent some actions after the initial deployment"
Solution 1
---

After the initial deployment, we should:

1. Mark minions as "Managed by orchestrator" (based on `ceph orchestrator inventory`?), e.g.:

[code]

2. Minions that are managed by orchestrator should not appear on `/Cluster/Roles`, and "Bootstrap minion" should not be displayed:

[code]

3. And the following options should be disabled:

- `/Cluster/Deployment/Bootstrap`
- `/Cluster/Dep

[2020-01-18 21:03] smithfarm opened #32 "Need a way to get the configuration database in JSON"
Please implement a way to dump the configuration database in JSON. For example, a `--format json` switch for `ceph-bootstrap config ls`. Thanks!

[2020-01-20 15:21] ricardoasmarques opened #35 "Rename "bootstrap_mon" to "bootstrap_minion""
"bootstrap_mon" is the cluster’s first `manager` and `monitor`, so it should be renamed to "bootstrap_minion".

[2020-01-20 17:11] ricardoasmarques opened #37 "MDS deployment"

[2020-01-20 17:12] ricardoasmarques opened #38 "RGW deployment"

[2020-01-21 12:00] ricardoasmarques opened #40 "Error deploying config without external time server"
When deploying the following configuration, without external time server:

[code]

I'm getting the following error:

[code]

To fix this, we should check if any external time server was configured before setting it up.

[2020-01-21 15:12] #40 closed, assigned to ricardoasmarques

[2020-01-23 10:08] sebastian-philipp commented on #31
In a second step, it would probably make sense to add a `sync` command to synchronize c-b and cephadm.

[2020-01-23 14:07] ricardoasmarques commented on #28
See https://github.com/SUSE/ceph-bootstrap/pull/34#issuecomment-577696046

[2020-01-23 14:07] #28 closed, assigned to ricardoasmarques

[2020-01-23 14:59] ricardoasmarques opened #42 "The "bootstrap_minion" requires both "mon" and "mgr" roles"
We should only set the "bootstrap_minion" value if minion has both "mon" and "mgr" roles.

[2020-01-23 15:06] smithfarm commented on #42
... and it should be only set for *one* minion

[2020-01-23 15:13] ricardoasmarques opened #43 "Display "bootstrap_minion" in the UI"
ATM "bootstrap_minion" value is automatically set by "ceph-bootstrap config", but this value is not available in the UI.

[2020-01-27 11:58] ricardoasmarques opened #45 "Error applying "ceph-salt" state without roles"
I have the following configuration, without roles:

[code]

When applying the `ceph-salt` state, I'm expecting `ceph-bootstrap` to configure timeserver:

[code]

But I get the following error:

[code]

[2020-01-27 14:34] ricardoasmarques opened #48 "ceph-bootstrap config displaying Dashboard password"
ceph-bootstrap config displaying Dashboard password:

[code]

[2020-01-27 14:36] sebastian-philipp commented on #48
Can't we simply remove the dashboard's password from ceph-bootstrap and just print the generated password? IMO users should create a proper password on first login anyway.

Relates to https://tracker.ceph.com/issues/43694

[2020-01-27 14:37] sebastian-philipp commented on #37
Right now, upstream is missing a way to specify the placement specification when calling `ceph fs volume create`. I think we should fix this in ceph upstream first?

[2020-01-27 14:56] ricardoasmarques commented on #48
That would break `sesdev`: https://github.com/SUSE/sesdev/blob/master/seslib/templates/ceph-bootstrap/ceph_bootstrap_deployment.sh.j2#L98

[2020-01-27 14:57] sebastian-philipp commented on #48
Hm. In any case, cephadm should make sure users update their PW on first login.

[2020-01-27 15:17] smithfarm commented on #48
Forcing the user to change the password is a PITA for integration testing. Just saying... I would think that dashboard developers themselves would want to have a way to set the dashboard admin password and not have cephadm forcing them to change it in order to log in.

(In other words, IMHO if a "forced password change on first login" feature is added, there should be a way to disable it.)

[2020-01-27 15:33] sebastian-philipp commented on #48
would it be enough to just return the generated password then? that's what is done by vstart for example.

[2020-01-28 10:28] #35 closed, assigned to ricardoasmarques

[2020-01-28 10:28] #42 closed, assigned to ricardoasmarques

[2020-01-28 10:28] #43 closed, assigned to ricardoasmarques

[2020-01-28 13:05] sebastian-philipp commented on #12
According to @saschagrunert  `podman` will have a new dependency to `apparmor-profiles`, fixing the issue that @p-se found (https://github.com/SUSE/sesdev/issues/60 )

[2020-01-28 14:53] p-se commented on #12
Moved upstream: https://tracker.ceph.com/issues/43859

[2020-01-28 15:50] rjfd commented on #32
@smithfarm what if we implement a `ceph-bootstrap config export` that dumps a JSON of the configuration?

And in the future we might be able to "import" the same JSON...

[2020-01-28 16:23] smithfarm commented on #32
@rjfd Works for me!

[2020-01-28 17:50] smithfarm commented on #45
This is easy to reproduce using sesdev - e.g.:

`sesdev create ses7 --roles '[admin]' --stop-before-ceph-bootstrap-deploy ses7_test3`

followed by:

[code]

[2020-01-29 10:54] #9 closed, assigned to rjfd

[2020-01-29 10:54] #30 closed, assigned to nobody

[2020-01-29 11:13] #45 closed, assigned to ricardoasmarques

[2020-01-29 11:22] #10 closed, assigned to rjfd

[2020-01-29 11:28] #48 closed, assigned to ricardoasmarques

[2020-01-29 11:36] #18 closed, assigned to rjfd

[2020-01-29 14:34] ricardoasmarques opened #52 "Always pull image before service deployment"
Make use of `cephadm pull` command to pull images before executing `cephadm bootstrap`.

[2020-01-29 14:44] rjfd commented on #52
We already doing that here: https://github.com/SUSE/ceph-bootstrap/blob/master/ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls#L20

Or are you talking about another thing?

[2020-01-29 14:56] ricardoasmarques commented on #52
ATM we are only pulling it if `pillar['ceph-salt']['container']['images']['ceph']` is defined. We should always pull it.

[2020-01-29 14:57] rjfd commented on #52
The problem is that we need to know which image to pull, and that is defined in that pillar entry

[2020-01-29 14:59] rjfd commented on #52
which image is pulled by default by `cephadm pull`?

[2020-01-29 15:27] ricardoasmarques opened #53 "No default value for `/Containers/Images/ceph`"
`/Containers/Images/ceph` should not have default value.

[2020-01-29 15:28] ricardoasmarques commented on #52
Per our discussion, we should not pull the default image, so I'm closing this issue in favor of https://github.com/SUSE/ceph-bootstrap/issues/53

[2020-01-29 15:28] #52 closed, assigned to ricardoasmarques

[2020-01-29 20:53] smithfarm opened #56 "After "ceph-bootstrap deploy", cluster is in HEALTH_WARN ("CEPHADM_STRAY_HOST: 3 stray host(s) with 10 service(s) not managed by cephadm")"
[code]

UPDATE: The workaround is to explicitly add the hosts - e.g.:

[code]

[2020-01-30 09:25] rjfd commented on #56
@sebastian-philipp could you take a look at this. I believe the problem is due to a mismatch between short hostnames and FQDNs that need to be solved in the cephadm mgr module.

[2020-01-30 12:01] sebastian-philipp commented on #56
Could you please add the output of

[code]
?

[2020-01-30 12:08] rjfd commented on #56
I have a cluster with the same error and here's the output of the commands:

[code]
[code]

[2020-01-30 12:08] smithfarm commented on #56
[code]

[2020-01-30 12:09] smithfarm commented on #56
@sebastian-philipp This bug is easy to reproduce with:

`sesdev create octopus --roles="[admin,mon,mgr,storage]" --ceph-bootstrap-repo https://github.com/SUSE/ceph-bootstrap.git --ceph-bootstrap-branch master --ceph-container-image registry.opensuse.org/filesystems/ceph/master/upstream/images/ceph/ceph --num-disks 4 octopus_test1`

[2020-01-30 12:27] sebastian-philipp commented on #56
https://tracker.ceph.com/issues/43898

[2020-01-30 12:51] sebastian-philipp opened #57 "Mention ceph-salt on openSUSE:Ceph wiki page"
See

* https://github.com/SUSE/sesdev/issues/57
* https://en.opensuse.org/openSUSE:Ceph

[2020-01-30 14:39] sebastian-philipp commented on #52
That's a default value within cephadm itself. It might actually make sense to make this default configurable  in order to prevent users from downloading the centos image when directly calling cephadm commands.

[2020-01-30 14:41] sebastian-philipp commented on #12
can we close this issue then?

[2020-01-31 11:37] ricardoasmarques opened #58 "Deployment must be idempotent"
ATM, OSD deployment fails when `ceph-bootstrap deploy` is executed a second time:

![Screenshot from 2020-01-31 11-36-54](https://user-images.githubusercontent.com/14297426/73536561-13cb0000-441e-11ea-8ef8-3bc493f4fcff.png)

[2020-01-31 12:29] sebastian-philipp commented on #58
looking at the screenshot, this looks like a cephadm bug to me. Not something we should fix here.

[2020-01-31 13:22] sebastian-philipp opened #59 "cephadm's default image"
In case someone manually starts `cephadm` on a minion for debugging purposes, there is a chance that a user will not specify an image.

If we could specify the default image for cephadm in a config file, we no longer need to worry about users accidentally pulling the default image.

Changing the default image doesn't have an impact on the image used by calls from the ceph-mgr, as the mgr always sp

[2020-01-31 14:37] ricardoasmarques commented on #59
I like the idea, it makes sense to me, but this discussion should be moved to "cephadm" since it's not a "ceph-bootstrap" discussion.

As soon as "cephadm" supports configuring the default image, we should then adapt "ceph-bootstrap" accordingly.

[2020-01-31 14:42] ricardoasmarques commented on #58
Hmm... let's wait until https://github.com/ceph/ceph/pull/32972 is merged and then test it again

[2020-01-31 14:46] sebastian-philipp commented on #59
https://tracker.ceph.com/issues/43937

[2020-01-31 15:22] ricardoasmarques opened #60 "Default values shared between "configshell code" and "ceph-salt-formulas""
ATM, default values are duplicated in "configshell code" and "ceph-salt-formulas".

It would be great if we have a way to share constants/default values between "configshell code", and "ceph-salt-formulas" (e.g., default dashboard username).

[2020-02-03 09:59] rjfd commented on #8
We will not implement an explicit `init` command, but we will automatically initialize the salt pillar on `ceph-bootstrap config` command if the salt pillar is not already correctly configured.

[2020-02-03 15:13] #8 closed, assigned to rjfd

[2020-02-05 14:25] ricardoasmarques opened #64 "Allow explicit set Mon IP"
ATM, ceph-bootstrap always uses the IP address from the `fqdn_ip4` grain to configure Monitors.

This address can be used by default, but it should be possible to explicitly change it to a different value.

This can be done in the `/Deployment` group, e.g.:
[code]

When implementing this we should remove the `CephNodeFqdnResolvesToLoopback` validation when adding a `minion`, and only validate IPs

[2020-02-05 14:36] sebastian-philipp commented on #64
hm. we probably need to add support for adding ips in cephadm itself?

I think that we're not the only ones who want to add raw IPs. having working DNS might be too much for everyone

[2020-02-05 14:53] ricardoasmarques commented on #64
@sebastian-philipp This is about the IP address used on the following commands:
- `cephadm bootstrap --mon-ip ...`
- `ceph orchestrator mon update ...`

Since those commands are already receiving the ip address, I think there's nothing to do in `cephadm`.

[2020-02-06 09:09] rjfd opened #65 "Ensure ceph-salt-formula is loaded by the salt-master before deploy"
When running `ceph-bootstrap deploy` we need to make sure that the ceph-salt-formula state files are already loaded by the salt-master, otherwise the deployment will fail.

We can check if ceph-salt formula is loaded by running the following command: `salt \* state.sls_exists ceph-salt`.
We should also always sync any state, modules or pillar changes before starting the deployment using the follow

[2020-02-06 13:35] sebastian-philipp opened #66 "config shell: `ValueError: No such path unknown-key` not catched"
[code]

Looks like we should catch this exception and just print out the error.

[2020-02-06 13:45] sebastian-philipp opened #67 "oS Leap 15.2: podman: podman: symbol lookup error: /usr/lib64/libgobject-2.0.so.0"
via `sesdev octopus`

[code]

My question is, where does it come from?
* podman dependencies?
* problem with the Leap repositories?

[2020-02-06 14:11] sebastian-philipp commented on #67
https://bugzilla.opensuse.org/show_bug.cgi?id=1163009

[2020-02-07 17:56] ricardoasmarques opened #70 "Improve states and steps descriptions"
For instance, some stages start with `Install ...` others with `Setting up ...`.

![Screenshot from 2020-02-07 17-54-09](https://user-images.githubusercontent.com/14297426/74053005-e0b2de80-49d2-11ea-9deb-6603131b6de0.png)

We should find a more consistent description for "states" and "steps".

[2020-02-07 19:34] ricardoasmarques opened #71 "Admin role"
ATM, `ceph-common` and `/etc/ceph/ceph.client.admin.keyring` are installed on all "mons".

Instead, we should have a dedicated "Admin" role, and only install ceph tools on minions that have that role.

Links
https://github.com/ceph/ceph/pull/33793

[2020-02-08 01:46] ricardoasmarques commented on #59
From the `ceph-bootstrap` POV, we can solve this by setting the `CEPHADM_IMAGE` environment variable in all minions.

[2020-02-10 13:22] sebastian-philipp commented on #59
That would certainly make my life easier. Is this ok for you?

[2020-02-10 16:02] #65 closed, assigned to rjfd

[2020-02-12 09:32] sebastian-philipp opened #72 "Salt Formula: Install podman"
https://github.com/ceph/ceph/pull/33221/commits/b16f19efe767215472c8915eb6c1ff3f20f60b94

As podman is no longer a dependency of cephadm, we have to make sure it is installed on the minions.

[2020-02-12 09:39] ricardoasmarques opened #73 "Command "ceph orchestrator" was renamed to "ceph orch""
Since https://github.com/ceph/ceph/pull/33131 `ceph orchestrator` was renamed to `ceph orch`, so `ceph-bootstrap` must be adapted accordingly.

[2020-02-12 09:42] sebastian-philipp commented on #73
... and there are some other upcoming CLI renames in the next few days. I guess we have to cope with these as they come.

[2020-02-12 18:38] #73 closed, assigned to nobody

[2020-02-13 12:22] #72 closed, assigned to nobody

[2020-02-13 13:41] sebastian-philipp opened #79 "cephadm bootstrap prints valuable information"
After cephadm boostrap succeeds, it prints some valuable infos:
[code]

We should forward users the information about the dashboard password and provide a convenience wrapper for `cephadm shell`

[2020-02-17 08:01] bk201 commented on #58
This should work on current master + cephadm, re-deploy no longer fails on OSD create.

[2020-02-17 09:22] #11 closed, assigned to ricardoasmarques

[2020-02-17 14:14] ricardoasmarques opened #81 "Prometheus and Grafana deployment"
It should be possible to install and configure `Prometheus` and `Grafana` from `ceph-bootstrap`.

---

_Usefull links:_
- https://github.com/ceph/ceph/pull/33073

[2020-02-18 13:18] p-se opened #83 "Node-Exporter deployment"
It should be possible to install Node-Exporter from ceph-bootstrap.

https://github.com/ceph/ceph/pull/33123

[2020-02-19 07:43] bk201 opened #84 "No bootstrap minion configured if there is no node has both MON and MGR"
In issue #42 a minion is tagged as bootstrapping role only when it has both MON and MGR roles, if this is a requirement, should we document it (maybe in sesdev or downstream doc) or add a check before deploying?

I tested sesdev with the following command:

[code]

The deployment failed with:
[code]

The error message doesn't make sense because the formula was installed correctly. After digging fo

[2020-02-19 07:50] rimarques commented on #84
@bk201 thanks for reporting this issue. Implementing the missing validations is planned to be done on issue https://github.com/SUSE/ceph-bootstrap/issues/7

The idea is to have a “ceph-bootstrap status” command that checks if the current config is valid. The same validations that are implemented I the “status” command should then be executed before the deployment.

[2020-02-19 07:53] ricardoasmarques commented on #84
@bk201 thanks for reporting this issue. Implementing the missing validations is planned to be done on issue https://github.com/SUSE/ceph-bootstrap/issues/7

The idea is to have a “ceph-bootstrap status” command that checks if the current config is valid. The same validations that are implemented I the “status” command should then be executed before the deployment.

[2020-02-19 07:53] bk201 commented on #84
Thanks! Didn't notice it's mentioned in #7. Close this.

[2020-02-19 07:53] #84 closed, assigned to nobody

[2020-02-19 12:08] smithfarm commented on #71
Please be sure to update https://confluence.suse.com/display/SUSEEnterpriseStorage/How+to+use when this feature is implemented.

[2020-02-19 12:27] ricardoasmarques commented on #71
The scope of this issue is about to change.

@sebastian-philipp can you please comment on what we are planning to change here?

[2020-02-19 14:22] sebastian-philipp opened #86 "click: `de_DE.UTF-8`"
[code]

[2020-02-19 14:42] sebastian-philipp opened #87 "deploy: Cluster is already deployed"
[code]

But the cluster actually doesn't exist:
[code]

config:
[code]

[2020-02-19 14:48] sebastian-philipp commented on #87
turns out
[code]

[2020-02-19 15:00] sebastian-philipp commented on #87
assigned to me

[2020-02-19 18:43] ricardoasmarques opened #91 "Check if reboot is needed on non-SUSE distros"
After updating packages, `ceph-bootstrap` checks if a reboot is needed.

ATM this check is only implemented for SUSE (`zypper ps`), but other distributions should also be supported.

[2020-02-19 21:16] smithfarm commented on #87
Just out of curiosity, which SHA1 of ceph-bootstrap are you running? And is the "which" RPM installed on the cluster nodes?

@gekios was hitting this in nodes deployed by teuthology, which do not have "which", while it is not seen in sesdev since the Vagrant boxes have "which".

In any case, https://github.com/SUSE/ceph-bootstrap/pull/85 was just merged - does that make the problem go away?

[2020-02-24 14:18] smithfarm opened #96 "OSD deployment fails due to invalid drive groups syntax"
<h2>Problem</h2>

Due to a recently introduced regression, ceph-salt stopped deploying OSDs.

<h2>Symptom</h2>

The "Deploying OSD groups 1/1" step finishes immediately, and then `sesdev create octopus ... --qa-test ...` fails because the cluster has zero OSDs.

<h2>Analysis</h2>

ceph-salt uses a command like the following to deploy OSDs:

[code]

When I try this command manually, it fails:

[cod

[2020-02-24 14:21] smithfarm opened #97 "ceph-salt-formula succeeds even when "ceph orch osd create" command fails"
<h2>Problem</h2>

Due to a recently introduced regression, ceph-salt stopped deploying OSDs, but ceph-salt-formula ignores this and reports that OSD groups were created successfully.

<h2>Symptom</h2>

The "Deploying OSD groups 1/1" step finishes immediately (with success), yet `sesdev create octopus ... --qa-test ...` fails because the cluster has zero OSDs.

<h2>Analysis</h2>

ceph-salt uses a c

[2020-02-24 15:27] smithfarm commented on #97
This is wrong. Here is the real issue: https://tracker.ceph.com/issues/44270

[2020-02-24 15:27] #97 closed, assigned to nobody

[2020-02-24 16:05] smithfarm commented on #96
This is wrong. Here is the real issue: https://tracker.ceph.com/issues/44270

[2020-02-24 16:05] #96 closed, assigned to nobody

[2020-02-24 17:29] smithfarm opened #100 "Provide a mechanism for setting "ceph.conf" configuration values so they will be in effect during "cephadm bootstrap" phase"
Nowadays, Ceph has a MON store for cluster configuration, but certain options still have to be set in `ceph.conf` before the cluster is bootstrapped.

One example is `osd crush chooseleaf type = 0`. If this is not provided on the `cephadm bootstrap` command line via the `-c` option, the initial CRUSH map created by `cephadm bootstrap` will have the failure domain set to "host" and there is no easy

[2020-02-24 23:16] sebastian-philipp commented on #100
Hm, that should not end up in the ceph.conf. Instead, I'd put this into the mon store. In general there is only a very limited amout of config that should live within the ceph.conf.

[2020-02-25 11:39] smithfarm commented on #100
@sebastian-philipp @trociny Allow me to elaborate a little.

With octopus, we are expected to run "cephadm bootstrap" to start deploying a new cluster. After "ceph-bootstrap" runs, there is a MON, a MGR, a pool, and a CRUSH map (with failure domain "host"), although there are still no OSDs at this point.

On a single-node cluster, however, we typically want the failure domain to be "osd", not "hos

[2020-02-25 11:48] smithfarm commented on #100
I will edit the issue description to emphasize that this mechanism would/should only be used for ceph.conf settings that must be made prior to bootstrapping, like `osd crush chooseleaf type = 0`

[2020-02-25 11:52] sebastian-philipp commented on #100
https://tracker.ceph.com/issues/44284

you're right. the workaround looks ok to me.

[2020-02-25 17:03] smithfarm opened #101 "ceph-salt issues wrong "ceph orch" command and gets "Error: 2 hosts provided, expected 3""
Very odd. . .

sesdev command line:

[code]

Results in:

[code]

and:

[code]

[2020-02-25 17:46] smithfarm commented on #101
Implemented a fix in #99 - with that in place, I get:

[code]

[2020-02-26 12:29] smithfarm opened #102 ""ceph-salt deploy --non-interactive" does not display progress reliably"
I use "ceph-salt deploy --non-interactive" a lot and I've noticed that it does not display progress messages reliably. Sometimes a message that definitely was supposed to be issued, is not displayed. Other times, a message gets duplicated.

Here is an example of the latter case:

[code]

The "BEGIN" message is duplicated. I've seen messages getting "triplicated" and "quadruplicated" too...

Other

[2020-02-27 11:42] smithfarm opened #104 "Some commands can hang for very long periods before failing; please consider adding timeout"
Certain commands, like "cephadm bootstrap" and `podman pull` can conceivably get stuck and hang for long periods of time, or even "forever".

It's worth considering to precede these commands with `timeout`.

This is not just for interactive users sitting at a console - the primary purpose is to ensure that CI jobs fail within a reasonable amount of time when commands get stuck.

[2020-02-27 11:47] sebastian-philipp commented on #104
how long is too long? what about deployments with a slow download connection?

[2020-02-27 11:52] smithfarm commented on #104
The timeout could be configurable, and default to a large number, like one hour.

[2020-02-27 13:24] smithfarm commented on #101
Now I'm getting the same error for `ceph orch apply mon`, so I added a commit implementing the same fix in `ceph-mon.sls`

[2020-02-28 10:41] sebastian-philipp commented on #104
Maybe we can improve this, if we separate the pull from calling bootstrap?

[2020-02-28 10:52] smithfarm opened #107 "ceph-salt barfs out a Python traceback (NotImplementedError) when it attempts to add remaining MONs"
After running "cephadm bootstrap", ceph-salt attempts to create remaining MONs by issuing the command `ceph orch apply mon` but this command was removed by https://github.com/ceph/ceph/commit/a29a78e4e9c732f485e40900c5f00de1804f2d46

As a result, ceph-salt can no longer create remaining MONs. It barfs out a Python traceback similar to this one:

[code]

There is an upstream orchestrator issue open

[2020-02-28 11:38] sebastian-philipp commented on #107
will be fixed by https://github.com/ceph/ceph/pull/33548

[2020-03-02 03:57] bk201 commented on #104
We already did that. Images are pulled before bootstrap.

[2020-03-02 15:41] #87 closed, assigned to sebastian-philipp

[2020-03-02 15:45] #101 closed, assigned to nobody

[2020-03-02 15:49] #107 closed, assigned to nobody

[2020-03-02 17:18] smithfarm commented on #104
Normally the `cephadm bootstrap` step completes within 5 minutes for me. But occasionally it just hangs. It just happened again today.

[2020-03-03 01:34] ricardoasmarques commented on #107
Looks like https://github.com/ceph/ceph/pull/33553 re-added the apply command.

[2020-03-03 16:55] ricardoasmarques opened #110 "Add support for cephadm "ServiceSpec""
Instead of calling `ceph orch apply <service> ...` commands directly, it's now possible to generate a "spec" [1] file and apply it by using `ceph orch apply -i`.

`ceph-salt` should provide a graphical `ServiceSpec` editor, and make use of `python-common` to validate the `ServiceSpec` [2] [3].

"Mgr" role, "Mon" role and "Device Groups" should be dropped from `ceph-salt` in favor of "cephadm Servi

[2020-03-05 03:37] bk201 commented on #102
Does this happen when manually running `ceph-salt deploy --non-interactive` or via sesdev?
sesdev turn off the stdout buffer size when deploying:
`stdbuf -o0 ceph-salt -ldebug deploy --non-interactive`

Not sure if this helps.

[2020-03-05 09:26] ricardoasmarques commented on #102
Salt does not guarantee that events are delivered by the same order they were fired.

In **interactive** mode, we update the whole UI when a new Salt event is received, so we will never see duplicates or missing events.

In **non-interactive** mode, we just print the event when we receive it, so we need to find a clever way of processing events in this mode.

One possible solution is to have some

[2020-03-05 09:30] #7 closed, assigned to ricardoasmarques

[2020-03-05 12:52] smithfarm commented on #12
No, please leave the issue open to track the need for a config setting that enables the user to control whether nodes are provisioned (and ceph cluster bootstrapped/deployed) with or without AppArmor.

If AppArmor is set to "off", then ceph-salt should ensure that it is disabled in the containers, too (if that makes any sense).

[2020-03-05 12:52] smithfarm commented on #12
For further rationale, see https://github.com/SUSE/sesdev/issues/136

[2020-03-05 14:57] smithfarm commented on #12
Also relevant for containers in SLE: https://bugzilla.suse.com/show_bug.cgi?id=1165821

[2020-03-05 15:38] #32 closed, assigned to ricardoasmarques

[2020-03-05 17:35] ricardoasmarques commented on #59
The following upstream ticket could fix the issue in a more reliable way: https://tracker.ceph.com/issues/44440

[2020-03-05 17:42] ricardoasmarques commented on #59
cc @smithfarm

[2020-03-05 17:51] smithfarm commented on #59
Having ceph-salt set the image via an environment variable on all minions sounds weak and prone to failure.

When setting the environment variable, how does ceph-salt guarantee that the environment variable will always be set correctly when the cluster administrator logs in? Is there a way to set environment variables globally for the whole system via YaST?

A site might use ceph-salt for provisio

[2020-03-05 18:28] ricardoasmarques commented on #59
As soon as https://tracker.ceph.com/issues/43937 is implemented, it will be possible to set the default Ceph container image path via a MON config-key.

`ceph-salt` should then be adapted to set that MON config-key.

[2020-03-06 15:40] smithfarm opened #116 "Better reporting of "cephadm bootstrap" failure"
Currently, when "cephadm bootstrap" fails, `ceph-salt deploy` reports the failure like this:

[code]

I see two problems with this:

first, why am I seeing the command thrice? (This was a single-node deployment, and even with multiple nodes "cephadm bootstrap" is run only once.)

second, the command is shown with lots of escaped whitespace (`\ \\\n`, etc.). Could the command be shown all on a sing

[2020-03-07 16:20] #53 closed, assigned to ricardoasmarques

[2020-03-09 13:10] smithfarm opened #118 "Adapt ceph-salt to latest {mon,mgr,osd} deployment UI changes"
https://github.com/ceph/ceph/pull/33792 was recently merged, which once again changed the command-line UI for creating MONs, MGRs, and OSDs.

ceph-salt will need to be adapted again.

[2020-03-10 11:51] ricardoasmarques commented on #59
The approach we are currently working on is:

- ceph-salt must explicitly pull the image
- ceph images must have a "ceph=True" Label [1]
- by default, cephadm will use the latest local ceph image [2]

[1] https://github.com/ceph/ceph-container/pull/1604
[2] https://github.com/ceph/ceph/pull/33829

[2020-03-11 09:45] ricardoasmarques opened #120 "Do not install ceph-common on "Admin" nodes"
Instead of installing `ceph-common` in "Admin" nodes, `ceph-salt` should simply create a `ceph='cephadm shell -- ceph'` alias (e.g. /etc/profile.d/ceph.sh)

**Depends on https://github.com/ceph/ceph/pull/33829**

[2020-03-11 09:50] ricardoasmarques commented on #71
Per our discussion, `ceph-salt` should not install `ceph-common` on "Admin" nodes. This will be tracked on a separate issue: https://github.com/ceph/ceph-salt/issues/120

[2020-03-11 09:55] smithfarm commented on #71
@ricardoasmarques Will `ceph-common` be installed on any nodes at all?

[2020-03-11 09:59] ricardoasmarques commented on #71
@smithfarm https://github.com/ceph/ceph-salt/issues/120 will not install `ceph-common` at all

[2020-03-11 10:41] ricardoasmarques commented on #38
Closing in favor of https://github.com/ceph/ceph-salt/issues/110

[2020-03-11 10:41] #38 closed, assigned to nobody

[2020-03-11 10:45] ricardoasmarques commented on #37
Closing in favor of https://github.com/ceph/ceph-salt/issues/110

[2020-03-11 10:45] #37 closed, assigned to nobody

[2020-03-11 11:01] smithfarm commented on #70
This is something that can, and probably should, wait until ceph-salt development has progressed further and most of the features are in.

Or it can be done in stages.

[2020-03-11 11:41] ricardoasmarques commented on #70
We may also need to add or remove `stages` / `steps`, change `stages` to `steps` or vice-versa.

[2020-03-11 11:46] ricardoasmarques opened #123 "Validate config when using Salt directly"
The `ceph-salt deploy` command validates the configuration before starting the deployment, but those validations should also be executed if the user applies the state directly from Salt, e.g.: `salt -G 'ceph-salt:member' state.apply ceph-salt`

[2020-03-11 11:49] ricardoasmarques commented on #83
Closing in favor of https://github.com/ceph/ceph-salt/issues/110

[2020-03-11 11:49] #83 closed, assigned to nobody

[2020-03-11 11:49] ricardoasmarques commented on #81
Closing in favor of https://github.com/ceph/ceph-salt/issues/110

[2020-03-11 11:49] #81 closed, assigned to nobody

[2020-03-11 11:53] ricardoasmarques commented on #70
At some point, it would be great to review/improve `ceph-salt config` help texts too - https://github.com/ceph/ceph-salt/blob/master/ceph_salt/config_shell.py#L253

[2020-03-11 16:43] sebastian-philipp opened #125 "Jenkins: pkg_resources.DistributionNotFound: The 'PyYAML<5.1' distribution was not found and is required by ceph-salt"
https://ceph-ci.suse.de/job/sesdev-integration/job/master/1/execution/node/88/log/

[code]

[2020-03-11 16:46] toabctl commented on #125
Already solved in git via https://github.com/ceph/ceph-salt/commit/a7f7499733aa57dde15dae4b87216cff5f2698cb

[2020-03-11 16:46] #125 closed, assigned to nobody

[2020-03-11 16:47] sebastian-philipp commented on #125
Fixed by #117

[2020-03-12 10:03] sebastian-philipp commented on #102
What about just showing the `END` messages and omit the `BEGIN` messages?

[2020-03-12 10:07] sebastian-philipp commented on #104
we need to fix the underlying cause of this. Please have a look at where `cephadm` actually hangs.

[2020-03-12 10:24] smithfarm commented on #102
That wouldn't work well - if a step hangs, we would have to enable logging and refer to the log file to figure out which one it is.

[2020-03-12 10:25] smithfarm commented on #104
Indeed. Yesterday I found out that `cephadm bootstrap` logs to `/var/log/ceph/cephadm.log` :-)

[2020-03-12 10:34] #71 closed, assigned to ricardoasmarques

[2020-03-12 11:04] ricardoasmarques commented on #102
If salt events have a "creation timestamp", maybe we can make use of it. I need some further investigation.

[2020-03-12 11:23] ricardoasmarques commented on #71
Done

[2020-03-12 15:26] ricardoasmarques commented on #100
@smithfarm  Can you please share what exactly has to be added to the `ceph.conf`?

[2020-03-13 09:43] #66 closed, assigned to ricardoasmarques

[2020-03-13 13:28] ricardoasmarques commented on #59
Fixed by https://tracker.ceph.com/issues/44440

[2020-03-13 13:28] #59 closed, assigned to ricardoasmarques

[2020-03-13 15:03] ricardoasmarques commented on #100
Nevermind, `ceph-salt` should be flexible enough to allow the user to set any option.

[2020-03-16 18:49] sebastian-philipp opened #128 "`cephadm bootstrap` add `--skip-monitoring-stack`"
https://github.com/ceph/ceph/pull/33936

[2020-03-17 10:03] bk201 commented on #118
For OSD, we need to adapt to this change: https://github.com/ceph/ceph/pull/33922
Either using `orch apply osd`/`orch daemon add osd`, or `orch apply -i` with a big config.

[2020-03-17 11:53] sebastian-philipp commented on #118
I think, `orch apply -i` is broken right now. See https://github.com/ceph/ceph/pull/34001

[2020-03-18 16:41] sebastian-philipp opened #130 "`cephadm bootstap` hangs in `mgr dump`"
Using https://github.com/ceph/ceph/pull/34031 I was able to run `cephadm boostrap` **successfully** locally:

[code]

Running this command via salt hangs:

[code]

[code]

[2020-03-19 06:57] bk201 commented on #130
The `(ceph)` (enclosed with `( )`) is a zombie process.

**tl;dr:** Running `ceph mgr dump` inside a container with salt-minion's remote run can reproduce the issue. Maybe it's not related to cephadm script.

Some experiments:

* Bootstrap and let it hang
* Find the zombie process
[code]
* kill parent `conmon` process, `podman` command can work again. Container `a42aff2600e6` is the one runs `ceph

[2020-03-19 08:22] sebastian-philipp commented on #130
yes, interesting to see, that this is independent of ceph-salt and simply caused by `cmd.run`

[2020-03-19 15:09] ricardoasmarques commented on #130
Some more information I've collected:
[code]

[2020-03-19 16:43] sebastian-philipp commented on #130
so far, we've seen:

* `cephadm` is innocent (`salt 'master*' cmd.run "/usr/bin/podman ..`. hangs)
* we need podman in the chain (`salt node1\* cmd.run_all 'ceph mgr dump'` works)

let's see if we can reduce the example further.

[code]
next:
[code]
next:
[code]

next (1000 instead of 10000):
[code]

now we can actually look where it hangs:

[code]
but:
[code]

which is roughly about 105000 bytes.

[2020-03-19 17:12] ricardoasmarques commented on #130
And it also hangs if we try to `hide_output` [1]

[code]

[1] https://github.com/saltstack/salt/blob/master/salt/modules/cmdmod.py#L1069

[2020-03-19 17:25] ricardoasmarques commented on #130
I've done the same test using **docker** and it works:

[code]

If I try with very large output, it still returns without hanging:

[code]

[2020-03-19 19:02] ricardoasmarques commented on #130
I've used podman `1.4.4` for my tests:
[code]

[2020-03-20 08:03] bk201 commented on #130
Confirm it's only reproduced when run via salt-minion and not related to Ceph.

Using gdb to attach the parent of zombie process:
[code]
https://github.com/containers/conmon/blob/master/src/conmon.c#L377
Still no clues why its child becomes zombie.

[code]

[2020-03-20 08:31] tserong commented on #130
Also confirmed with podman 1.8.0 and conmon 2.0.10 from Devel:Storage:7:

This works:
`salt master.ses7-mini.com cmd.run 'bash -c "for n in \$(seq 5070) ; do /bin/echo 12345678901234567890 ; done"'`

This hangs:
`salt master.ses7-mini.com cmd.run 'podman run --net=host --rm registry.suse.de/devel/storage/7.0/cr/containers/ses/7/ceph/ceph bash -c "for n in \$(seq 5070) ; do /bin/echo 12345678901234

[2020-03-20 09:00] sebastian-philipp commented on #130
Interesting, as it is less than 106 kB! (`seq 5080`)In my tests, this always worked.

ok, this is awkward.

[2020-03-20 09:16] bk201 commented on #130
I checked `quay.io/ceph-ci/ceph:octopus` and `registry.opensuse.org/filesystems/ceph/master/upstream/images/ceph/ceph`. They should contain awk binary.

[2020-03-20 09:22] sebastian-philipp commented on #130
Possible workaround:

[2020-03-20 09:52] tserong commented on #130
I'm using registry.suse.de/devel/storage/7.0/cr/containers/ses/7/ceph/ceph, which AFAICT doesn't include awk

[2020-03-20 10:18] smithfarm commented on #130
I wonder if there's something about the runc patch in https://github.com/opencontainers/runc/pull/1807 which makes it work only up to a certain number of characters in the command output.

[2020-03-20 12:15] sebastian-philipp commented on #130
might relate to https://github.com/containers/libpod/issues/4600

[2020-03-20 12:21] sebastian-philipp commented on #130
[code]

[2020-03-23 07:04] sebastian-philipp commented on #130
close, as we have a workaround, now?

[2020-03-23 07:07] tserong commented on #130
Fine by me

[2020-03-23 07:07] sebastian-philipp commented on #130
workaround implements: https://github.com/saltstack/salt/issues/50851

[2020-03-23 09:41] ricardoasmarques commented on #130
Agree

[2020-03-23 09:41] #130 closed, assigned to nobody

[2020-03-24 11:14] sebastian-philipp opened #135 "cephadm: CEPHADM_STRAY_DAEMON: bootstrap mgr not managed by ceph"
<pre>
# ceph -s
  cluster:
    id:     6cf878a8-6dbb-11ea-81f8-fa163e09adda
    health: HEALTH_WARN
            1 stray daemons(s) not managed by cephadm

  services:
    mon: 1 daemons, quorum host1 (age 12m)
    mgr: host1.rpcqxx(active, since 11m), standbys: host4.xgjlhi, host2.lnnfdk
    osd: 12 osds: 12 up (since 6m), 12 in (since 6m)

  data:
    pools:   1 pools, 1 pgs
    objects: 0 object

[2020-03-25 06:33] bk201 opened #139 "Deployment fails on `ceph orch host add minion`"
## How to reproduce
Use sesdev to create an octopus env:
[code]

## Error messages:

salt
[code]

mgr
[code]

[2020-03-25 06:59] bk201 commented on #139
Try connecting in container:
[code]

[2020-03-25 07:56] bk201 commented on #139
I did `zypper update` both in container image and host and the deployment succeeded.
Not sure which package is root cause.

[2020-03-25 08:59] smithfarm commented on #139
Thanks for looking into this @bk201

Sounds like the conclusion is, as Kris said in the chat, "we just need to wait for OBS to actually rebuild the images."

[2020-03-25 11:44] smithfarm opened #141 "Cluster comes up in "HEALTH_WARN: clock skew detected""
I've been deploying octopus 15.2.0 clusters on SLE-15-SP2 and consistently they are coming up with:

[code]

The reason for this is ceph-salt starts chronyd on the cluster nodes, but does not wait for them to sync. Typically there is a multi-second (even tens of seconds) skew between the `time_server` cluster node and the external time servers when chronyd first starts. Now, of course, chronyd wil

[2020-03-25 15:16] smithfarm commented on #141
closing in favor of https://github.com/SUSE/sesdev/issues/185 for now

[2020-03-25 15:20] #100 closed, assigned to ricardoasmarques

[2020-03-25 16:43] smithfarm commented on #128
@sebastian-philipp Can you provide more details only a ceph-salt user would want/need to skip deployment of the monitoring stack?

[2020-03-25 17:36] sebastian-philipp commented on #128
the default will install the whole monitoring stack on the bootstrap minion. which is not really want we want to do.

[2020-03-25 17:37] sebastian-philipp commented on #128
actually enabling this by default on the bootstrap node is questionable

[2020-03-25 18:28] smithfarm commented on #139
[code]

[2020-03-25 19:33] #70 closed, assigned to smithfarm

[2020-03-25 22:33] smithfarm opened #145 "Review/improve 'ceph-salt config' help texts"
https://github.com/ceph/ceph-salt/blob/master/ceph_salt/config_shell.py#L330-L570

[2020-03-26 04:33] bk201 commented on #139
I can narrow down the update-required package to `libopenssl1_1` in container image only.
Updating in host is not required.

[2020-03-26 11:09] sebastian-philipp commented on #141
I think we should fix this properly in c-s as well. We shouldn't start clusters deployed with ceph-salt with a clock skew warning

[2020-03-26 14:15] sebastian-philipp commented on #139
[code]
oneliner
[code]

works as well:

[code]

[2020-03-26 17:07] ricardoasmarques commented on #110
`ceph-salt` will not do additional services deployment.

After cluster bootstrap, additional services must be deployed by using `ceph orch apply ...` directly.

[2020-03-26 17:07] #110 closed, assigned to nobody

[2020-03-27 12:12] ricardoasmarques opened #147 "Support adding new hosts after initial deployment"
I have a cluster that was already deployed, but when I try to deploy a new "admin" node, ceph.conf/keyring is not installed and the host is not added to orchestrator:

**How to reproduce**

1) Add new minion, set "admin" role and deploy it
[code]

2) Check that, after deployment,  ceph.conf and keyring does not exists on `<new-host-name>:/etc/ceph/`

3) Also, check that the host was not added to o

[2020-03-27 13:25] toabctl opened #148 "ceph-salt "tox -e lint" broken for python 3.8"
When I try to run `tox -elint` on openSUSE Tumbleweed with python 3.8, I get:

[code]

So salt itself needs to be fixed. See also https://github.com/saltstack/salt/issues/55310 and https://github.com/saltstack/salt/issues/55835

[2020-03-30 13:35] smithfarm commented on #139
This is no longer reproducible now that OBS caught up with its backlog. I'll go ahead and close it.

[2020-03-30 13:35] #139 closed, assigned to nobody

[2020-03-30 15:18] #118 closed, assigned to smithfarm

[2020-03-30 18:31] ricardoasmarques opened #154 "Rename `ceph-salt deploy` to `ceph-salt apply`"
What `ceph-salt deploy [minion_id]` do is:
1) provision host(s)
2) if running for the first time
2.1) bootstrap a new minimal ceph cluster (1 Mon and 1 Mgr),
2.2) configure Ceph orchestrator

The rest of the ceph cluster deployment must be done by `ceph orch ...`, so I believe `ceph-salt apply` is a better name than `ceph-salt deploy`.

[2020-04-02 11:45] smithfarm commented on #56
Not happening anymore with ceph v15.2.0

[2020-04-02 11:45] #56 closed, assigned to sebastian-philipp

[2020-04-02 12:06] smithfarm opened #158 "Allow users to provide their dashboard cert for bootstrap"
As far as I can tell from quickly glancing at `ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls`, ceph-salt does not currently let users provide their own dashboard SSL certificate and key via the `--dashboard-crt` and `--dashboard-key` options to `cephadm bootstrap`.

https://github.com/ceph/ceph/pull/33472

[2020-04-02 14:08] ricardoasmarques commented on #120
Maybe we can do the same for crushtool: `cephadm shell -- crushtool --help`

[2020-04-02 16:24] smithfarm commented on #120
As Denis Polom reported in Rocket.Chat, this approach is not robust, because if the command line references a file or path that is on the host, but not in the container, the command will fail.

For example:

[code]

This could be surprising if:

* the file is present on the host and
* the user issues the crushtool on the host but it gets converted into `cephadm shell -- crushtool $@` by an alias a

[2020-04-03 08:53] #64 closed, assigned to ricardoasmarques

[2020-04-03 10:00] jan--f opened #160 "Don't rely on fqdn_ipv4 grain for mon address"
We currently rely on the `fqdn_ipv4` grain to populate a nodes public address (see https://github.com/ceph/ceph-salt/blob/master/ceph_salt/core.py#L41). This is not very reliable in that it can contain `127.0.0.1` but also might return an ip address that is from, say a mgmt network.

We need a different way here. Also how can a user influence this choice?

[2020-04-03 10:05] smithfarm commented on #160
https://github.com/ceph/ceph-salt/pull/156 seems to fit the bill here?

[2020-04-03 10:25] jan--f commented on #160
I think that is one part of the puzzle. We also want to make sure that ceph_salt doesn't set an ip by default, that its own validation will choke on.
Imho the btter option is to take the first non-locahost ipv4 address as default. We can't reliably associate a fqdn with an ip address using only local information anyway.

[2020-04-03 10:58] ricardoasmarques commented on #160
Yes, given that if we pick a localhost IP, then we will hit https://github.com/ceph/ceph-salt/blob/master/ceph_salt/validate/config.py#L20 validation, so we should try to take first non-localhost address.

@jan--f Maybe we can start by looking into `fqdn_ip4` grains and then fallback to `ip4` grain if no non-localhost ip was find on `fqdn_ip4`? Any other idea?

[2020-04-03 11:01] ricardoasmarques commented on #160
Also, we have to fix the chrony config https://github.com/ceph/ceph-salt/blob/master/ceph-salt-formula/salt/ceph-salt/files/chrony.conf.j2#L9 and we should keep in mind that we will have to support IPV6 in the near future.

Maybe we will need a new config so the user can explicitly set the `subnet` to use in chrony.

[2020-04-03 11:26] jan--f commented on #160
Yep sounds good to me.

This is also a good idea. We had the same in deepsea. Its impossible to always guess correctly anyway and real world deployments will have a lot of network devices attached to many networks.

I'm happy to push a PR for the first part (being smarter about guessing the public ip).

[2020-04-03 11:31] ricardoasmarques opened #161 "Allow explicit set chrony subnet"
ATM  https://github.com/ceph/ceph-salt/blob/master/ceph-salt-formula/salt/ceph-salt/files/chrony.conf.j2#L9 is always assuming a subnet based on `fqdn_ip4` grains.

We cannot assume it, so we will need a new config so the user can explicitly set the subnet to use in chrony.

[2020-04-03 11:31] ricardoasmarques commented on #160
Great, I'll take care of the chrony part https://github.com/ceph/ceph-salt/issues/161

[2020-04-03 12:09] smithfarm commented on #148
For testing the "next" Python version it would be nice to have a Vagrant box. For me, the ideal would be an openSUSE 15.2 Vagrant box that has Python 3.8 instead of 3.6.10.

@toabctl Do you know if such a Vagrant box is built by the OBS?

[2020-04-03 14:42] smithfarm commented on #148
I changed the title to more accurately describe what is broken.

(I tested ceph-salt itself (installed from source) on Tumbleweed with Python 3.8 and it worked flawlessly.)

[2020-04-03 14:46] smithfarm commented on #148
I can reproduce this bug. Here's the detailed reproducer:

1. Install sesdev from https://github.com/SUSE/sesdev/pull/221
2. `sesdev create octopus --ceph-salt-repo https://github.com/ceph/ceph-salt --ceph-salt-branch master --os tumbleweed --single-node --qa-test octopus`
3. `sesdev ssh octopus`
4. `zypper in -n python3-tox`
5. `cd ceph-salt`
6. `tox -e lint`

It also happens with salt-3000. The

[2020-04-03 14:53] smithfarm commented on #148
And here is a minimal reproducer:

1. `sesdev create octopus --ceph-salt-repo https://github.com/ceph/ceph-salt --ceph-salt-branch master --stop-before-ceph-salt-config --os tumbleweed --single-node octopus`
2. `sesdev ssh octopus`
3. `zypper in -n python3-tox`
4. `cd ceph-salt`
5. `tox -e lint`

[2020-04-03 15:12] toabctl commented on #148
No idea. I guess the Tumbleweed Vagrantbox has python3.8 now.

[2020-04-06 13:34] gekios opened #163 "Allow ceph-salt to provide daemon id and cluster fsid"
Since ceph-salt stopped deploying the cluster the plan for teuthology is to have a `ceph_salt.py` task and then use the upstream `cephadm.py` so I am working on making the code compatible and one of the first issues that I found is that `cephadm.py` uses explicit `--mon-id`, `--mgr-id` and `--fsid` when it deploys the bootstrap node. So I would like to have this feature since it's blocking me.
Exa

[2020-04-07 13:50] gekios commented on #163
Plus as @sebastian-philipp noticed I missed `--orphan-initial-daemons`, `--mon-addrv` args and `---skip-monitoring-stack`

[2020-04-07 15:47] ricardoasmarques commented on #120
Good point, I think this is a valid argument to not create an alias, and force the user to type `cephadm shell` explicitly.

[2020-04-09 11:47] ricardoasmarques opened #172 "Deployment preview"
Before starting the deployment, `ceph-bootstrap deploy` should show a preview of what will change on each node.

Example:

[code]

[2020-04-09 11:54] ricardoasmarques opened #173 "Should be possible to re-apply config on all minions"
ATM, after initial deployment, configuration can only be applied to one minion at a time:

[code]

Depending on the configuration we change, this may result in an inconsistent deployment (e.g SSH keys changed, or time server changed).

Should be possible to re-apply the whole config after initial deployment, by running:
[code]

Note that `Reboot` must be skipped for nodes that are already part of

[2020-04-09 19:00] ricardoasmarques opened #176 "Should be possible to re-apply config on a single minion"
ATM we are blocking deployment of nodes that were already deployed:
[code]

This is preventing us from, for instance, updating packages on a host that was already deployed.

Note that `Reboot` must be skipped for nodes that are already part of the Ceph cluster[1][2]. The following message should be shown in this case:
[code]

[1] maybe we can use `podman ps` to check if any ceph container is runni

[2020-04-09 21:02] ricardoasmarques commented on #154
Let's keep `deploy` for now.

[2020-04-10 05:18] bk201 opened #177 "Need a clear definition of `reset` command"
It would be great to have a clear definition of `reset` command. Does a reset command:
- reset pillar data to an empty state (by default it deletes the key), or
- reset pillar data to the default value that is defined in ceph-salt

Taking path `/system_update/packages` as an example, enabling it with CLI makes the key `ceph-salt:updates:enabled` set to true in pillar data:
[code]

Resetting it mak

[2020-04-13 14:54] #160 closed, assigned to jan--f

[2020-04-14 10:49] smithfarm commented on #147
I successfully reproduced this issue. Next, I'll test the fix in #175

[2020-04-14 14:08] #161 closed, assigned to ricardoasmarques

[2020-04-14 14:17] ricardoasmarques commented on #19
Note that by default, `ceph-salt` will assign IPv4 bootstrap Mon IP and chrony subnet, but it's now possible to explicitly changed those values manually.

The only thing we need to do before closing this issue is verifying that if we explicitly set IPv6 address and subnet, everything will work as expected.

[2020-04-14 14:23] #128 closed, assigned to nobody

[2020-04-14 18:44] smithfarm opened #180 ""ceph-salt deploy --non-interactive" returns exit status zero on failure"
Recently we saw a transient failure when running the following command:

[code]

The exit status was `0` which, if confirmed, would be a bug (and hence this issue).

Since `stdbuf -o0 false` returns exit status 1, I don't think `stdbuf` is the cause. It seems like `ceph-salt deploy` itself is returning 0 even in the failure case.

[2020-04-15 17:01] ricardoasmarques opened #181 "Unable to add new hosts when "/cephadm_bootstrap" is disabled"
After initial deployment, I want to add a new host but I disabled `/cephadm_bootstrap`:

[code]

After deploying the new host, I notice that it was not added to the orchestrator:

[code]

[2020-04-16 09:12] jan--f opened #183 "Add log message in public ip extraction."
#174 has made choosing public_ip more flexible, but there is still a code path where we end up with `127.0.0.1` as the deduced ip. Add a log message for this case.

[2020-04-16 10:24] #147 closed, assigned to ricardoasmarques

[2020-04-20 12:57] ricardoasmarques opened #189 "Unable to explicitly set SSH keys"
Instead of generating new keys, I would like to use the keys that I already have, but `ceph-salt` does not accept "multi-line" strings:

[code]

To fix this, `ceph-salt` sould have an `import` command (instead of `set`) that will read the key from a file path.

Public key example:
[code]

Private key example:
[code]

[2020-04-20 13:44] ricardoasmarques opened #190 "Config should inform which minions are "Managed by cephadm""
As an administrator, I would like to see which minions are already managed by cephadm, example:

[code]

Also, we should use "Managed by cephadm" term instead of "deployed" in some features:

[code]

[code]

[2020-04-20 15:42] swiftgist opened #191 "Install ssh keys in /root/.ssh"
In ceph-salt-15.2.1+1587037332.ge798398-1.1.noarch, the ssh keys are placed in /tmp as /tmp/ceph-salt-ssh-id_rsa and /tmp/ceph-salt-ssh-id_rsa.pub.

In a fresh deployment scenario, trying to ssh from an admin node to another prompts for a password as configured.  Considering the /root/.ssh/authorized_keys is updated correctly, I suggest installing the keys in /root/.ssh with the default names.

Wi

[2020-04-20 16:02] ricardoasmarques opened #192 "Unable to see dashboard password"
For security reasons we are hiding the dashboard password on `ls` command, but we should have an `info` command on dashboard password node that can be used to see the password.

[2020-04-21 07:19] jschmid1 commented on #192
+1

[2020-04-22 08:14] ricardoasmarques commented on #192
Note that if the password was not explicitly set, then user will have to look into `/var/log/ceph/cephadm.log` on bootstrap minion to see which password was generated.

We can simplify this, by generating the random password in `ceph-salt`.

[2020-04-22 08:21] ricardoasmarques opened #193 "Troubleshooting guide"
We should have a troubleshooting doc in `ceph-salt`, similar to the one on `cephadm`: https://github.com/ceph/ceph/blob/master/doc/cephadm/troubleshooting.rst

[2020-04-22 11:56] tserong opened #194 "`ceph-salt config` first run complains it can't read prefs.bin"
The first time I run `ceph-salt config`, I see a warning:

[code]

Presumably that's just because the file doesn't exist yet. I'd suggest changing this to only warn if the file actually exists, but can't be read.

[2020-04-22 12:00] tserong opened #195 "Can't quit `ceph-salt apply` if it's waiting for node reboots"
Ran `ceph-salt apply`, it got to the point of rebooting various nodes, and I realised there was no way to quit, while the UI was still spinning waiting for those rebooted nodes to come back. 'Q' did nothing, CTRL-C did nothing, IIRC I had to CTRL-Z then `kill` it. Should there be a way to quit in this case (or in any case where execution is not yet complete)?

![salt-master-must-be-rebooted-manual

[2020-04-22 12:44] tserong opened #196 "After initial reboot `ceph-salt deploy` says it can't find ceph-salt formula"
Seen on SLE 12 SP2 with salt-3000 and ceph-salt-15.2.1+1587155350.g440cd72.

Initial run of `ceph-salt deploy` resulted in reboot of all nodes, with master node saying "Salt master must be rebooted manually", as shown here:

![salt-master-must-be-rebooted-manually](https://user-images.githubusercontent.com/754700/79982914-5adf0380-84ea-11ea-8003-d4e795bb4316.png)

After rebooting the master, subse

[2020-04-22 13:39] ricardoasmarques opened #197 "Support multiple Ceph clusters on the same Salt cluster"
ATM, only one Ceph cluster per Salt cluster is supported. How can we adapt `ceph-salt` to support multiple Ceph clusters on the same Salt cluster?

[2020-04-22 13:39] smithfarm opened #198 "Bootstrapping with "salt ... state.apply" (instead of "ceph-salt deploy") appears to be broken"
The output is quite long, so I put it here: https://paste2.org/zWszbI85

[2020-04-22 13:47] jschmid1 opened #199 "potentially invalid ceph.conf after moving monitors"
I used ceph-salt to deploy bootstrap services on a master node. then used cephadm
to spin-up mons on node{1..3}  with `cephadm orch apply mon
node1,node2,node3`. Now, the master's ceph.conf is outdated(still pointing to the _initial_ bootstrap mon), hence any `ceph` command will hang as it's relying on the ceph.conf to retrieve the mon addresses.

There is an cephadm tracker issue for a related is

[2020-04-22 14:29] ricardoasmarques commented on #154
Reopening this issue because `apply` seems to be used more often.

Some examples:

1) salt \* state.**apply** ...
2) ceph orch **apply** ...
3) terraform **apply** - https://www.terraform.io/docs/commands/apply.html

[2020-04-22 17:08] ricardoasmarques commented on #196
@tserong did you manually killed `ceph-salt` process and rebooted master node before non-master nodes finished the deployment? I mean, before the `q (quit)` command became available in the UI?

[2020-04-23 09:21] tserong commented on #196
Um... Probably? IIRC the other nodes had rebooted, but the `q` command was not available? But I'm not 100% certain. Should I re-test to confirm?

[2020-04-23 10:51] #181 closed, assigned to ricardoasmarques

[2020-04-23 14:19] ricardoasmarques commented on #58
ATM, `ceph-salt` does now allow to re-run `deploy` on all host:
[code]

Support for re-run `deploy` on all hosts is tracked on https://github.com/ceph/ceph-salt/issues/173

[2020-04-23 14:19] #58 closed, assigned to nobody

[2020-04-24 07:30] tserong commented on #196
Yep, I reckon I did manually kill ceph-salt and reboot the master last time.

I've done another run from scratch (keeping my hands off), and now have:

- master says it must be rebooted manually
- node1 says "one or more minions failed" waiting for other minions
- node2 and node3 are stuck in "wait for an admin host" for the last 25 minutes. I assume they will remain like that forever now :-)
- th

[2020-04-24 07:34] tserong commented on #196
Oops, spoke too soon. node2 and node3 did eventually hit a timeout after 30 minutes(!) and I was able to quit. Then I rebooted the master and ran `ceph-salt deploy` again, which now seems to be doing the right thing...

[2020-04-24 07:46] tserong commented on #196
...yep, worked the second time through.
![ceph-salt deploy worked second time](https://user-images.githubusercontent.com/754700/80187734-7dd8f700-8653-11ea-82df-c45c5955a774.png)

[2020-04-24 13:39] sebastian-philipp commented on #173
FYI, there is a demand from Ansible to make `bootstrap` idempotent: https://tracker.ceph.com/issues/44825

[2020-04-27 12:53] #154 closed, assigned to nobody

[2020-04-27 14:30] smithfarm commented on #141
OK, I will work on this.

[2020-04-27 15:33] #163 closed, assigned to ricardoasmarques

[2020-04-28 16:43] smithfarm opened #204 "Issuing a series of "ceph-salt config" commands is tedious"
Currently, bootstrapping a Ceph cluster using `ceph-salt` involves issuing a series of

    ceph-salt config

commands. Each of these commands takes a long time (approximately 5 seconds) to complete.

Apparently, this is because each invocation of `ceph-salt config` builds the entire configshell tree (i.e. from `/`) even when not needed.

Please consider making some optimization.

[2020-04-29 05:22] toabctl commented on #204
Fully agree. You could use something like
[code]

to not have the startup time for each command..

[2020-04-29 08:11] #141 closed, assigned to smithfarm

[2020-04-29 08:18] ricardoasmarques commented on #195
ATM, we are preventing the user from "quit" until all minions complete the execution because we don't have support to "resume" the execution if the user executes `ceph-salt apply` again while some minions are still executing.

[2020-04-29 08:42] tserong commented on #195
Is there a way of terminating all current running salt jobs (@swiftgist, IIRC you'd mentioned this was possible somehow)? Then if the user decided to quit, it could terminate everything, so as to not leave things running in the background. If the user later runs `ceph-salt apply` it will just start again.  You'd want to prompt on quit though if jobs were running, just in case the user didn't reall

[2020-04-29 09:48] ricardoasmarques commented on #194
Perhaps something to fix on `configshell` directly: https://github.com/open-iscsi/configshell-fb/blob/master/configshell/shell.py#L173

[2020-04-29 13:30] ricardoasmarques commented on #196
This bug was introduced in https://github.com/ceph/ceph-salt/pull/175

[2020-04-29 14:22] smithfarm opened #205 "bootstrap_minion and bootstrap_mon_ip handling could be improved"
Currently, if the user sets both `bootstrap_minion` and `bootstrap_mon_ip`, the order in which they are set is important and can affect the outcome.

If the user sets `bootstrap_mon_ip` first, and `bootstrap_minion` second, BootstrapMinionHandler will clobber the user's `bootstrap_mon_ip` setting. It should preserve the user's setting in this case.

If the user sets `bootstrap_minion` first and `b

[2020-04-29 15:40] ricardoasmarques opened #208 "Disabling time server functionality causes "ceph-salt apply" to fail 100% of the time"
It's possible to disable `time server` configuration in `ceph-salt`, but if we do it then we will hit the following error when applying the config:

![Screenshot from 2020-04-29 16-03-59](https://user-images.githubusercontent.com/14297426/80615792-0bdc2580-8a38-11ea-8127-b771380532bc.png)

[2020-04-29 16:17] smithfarm commented on #208
Actually, I think this is just working as expected. If the user does not specify a time_server host via `ceph-salt config`, it is assumed that the user has already configured time synchronization on all the minions via some other mechanism.

[2020-04-29 16:20] smithfarm commented on #208
Maybe `ceph-salt` could issue a warning in this case, or perhaps we should force the user to take some affirmative action, like

    ceph-salt config /time_sync false

The "time_sync" value could default to true, and if it is true and no time_server host has been set, then we raise an error in validate_config?

[2020-04-29 16:44] ricardoasmarques commented on #208
@smithfarm You are right, if user explicitly disables it by running `ceph-salt config /time_server disable`, we can assume that time_server will be configured by the user. If not, then we will correctly hit the `cephadm check-host` failure.

Closing the issue...

[2020-04-30 09:21] gekios opened #209 "Bootstrap deployment fails to sync ntp"
For the last 2 days I cannot bootstrap a cluster due to errors like below and the issue seems to be that the fqdn doesn't contain the domain:

[code]

[2020-04-30 10:00] ricardoasmarques commented on #209
@gekios this happens due to a mismatch between `fqdn` salt grains and the value you set on ceph-salt `/time_server/server_hostname`.

You can fix the issue by:

1) changing your `/etc/hosts` configuration, so the following command will return the full name that you are using in ceph-salt

[code]

2) or you should set the short name in ceph-salt (instead of the full name):

[code]

[2020-04-30 10:41] ricardoasmarques opened #210 "Store minion_id in pillar instead of hostname"
ATM, we are storing `short_name`s in pillar

[code]

`ceph-salt` should always store `minion_ids` and only calculate the short name when needed  https://github.com/ceph/ceph-salt/blob/3eb6982e47d9a8b458b72d50c5be898deba24301/ceph_salt/core.py#L22

[2020-04-30 10:48] ricardoasmarques commented on #209
@gekios https://github.com/ceph/ceph-salt/pull/206 will fix this issue

[2020-04-30 18:32] smithfarm opened #213 "ceph-salt barfs out a Traceback when Salt gets "Valid metadata not found at specified URL" error from zypper"
When repos are not fresh (and sometimes even when they are), zypper occasionally throws a "valid metadata not found at specified URL" error. Salt and ceph-salt could handle this more gracefully than they do now:

[code]

[2020-05-01 12:57] tserong commented on #194
Good idea, I've opened https://github.com/open-iscsi/configshell-fb/pull/56

[2020-05-04 13:08] #210 closed, assigned to ricardoasmarques

[2020-05-04 13:45] #196 closed, assigned to ricardoasmarques

[2020-05-05 15:26] ricardoasmarques opened #215 "Add service spec option under '/cephadm_bootstrap'"
Since https://github.com/ceph/ceph/pull/34879/, `cephadm bootstrap` has a new `--apply-spec` option that can be used to provide initial service spec.

[2020-05-06 13:28] ricardoasmarques commented on #209
https://github.com/ceph/ceph-salt/pull/206 has been merged

[2020-05-06 13:28] #209 closed, assigned to nobody

[2020-05-07 04:12] tserong opened #217 "Need to be able to have the master node *not* managed by cephadm"
I believe that in most cases it's inadvisable to have the master node also run ceph daemons, because that would make one of your cluster nodes also the salt-master, which suddenly makes that node "special" and different somehow. This is probably especially true where the salt-master node is also running SUMA or other management tooling that's well outside Ceph's domain.

Right now however, all nod

[2020-05-07 09:18] ricardoasmarques opened #218 "PIllar structure should reflect ceph-salt config tree structure"
It would be great if `/srv/pillar/ceph-salt.sls` structure could be more similar to what is displayed by `ceph-salt config ls`.

[2020-05-08 13:19] #183 closed, assigned to nobody

[2020-05-11 10:49] ricardoasmarques commented on #217
Since https://github.com/ceph/ceph-salt/pull/206, `/time_server/server_hostname` can be set to a host/minion not managed by `ceph-salt` (a minion that is not in `/ceph_cluster/minions`).

This assumes that we already have a time server that was previously configured (manually or with any other tool).

If we what `ceph-salt` to be able to set-up/manage a time server that is not a ceph host, I think

[2020-05-11 11:05] ricardoasmarques opened #222 ""ceph-salt config" is slow on large clusters"
With 104 nodes in the config, `ceph-salt` takes almost 3 minutes to open the shell:

[code]

[2020-05-11 11:07] smithfarm commented on #217
+1 for adding `cephadm` role (meaning: "this is a node that will be controlled by cephadm/ceph orchestrator")

[2020-05-11 11:30] ricardoasmarques commented on #222
Let's start by doing a *lazy* load of grains [1] (only do the first read when asked for, and then cache values), and then check how it improves the performance.

[1] https://github.com/ceph/ceph-salt/blob/master/ceph_salt/core.py#L28

[2020-05-11 14:56] ricardoasmarques opened #223 "Reading grains with "salt-call grains.get" is slow"
ATM, `ceph-salt` is using grains to control execution, for instance, at some point all minions will wait in a loop until time server minion sets the `ceph-salt:execution:timeserversynced` grain informing that it's clock is synced.

In this example, having all minions in a loop reading the `ceph-salt:execution:timeserversynced` from time server (via SSH) produces a lot of `ceph-salt grains.get` par

[2020-05-11 17:18] ml8mr commented on #222
Would it be helpful to report a message like "Analyzing environment..." immediately after running ceph-salt? This won't fix anything, but may prevent someone from hitting ctrl-c and searching for something that might be preventing the tool from even running.

[2020-05-11 18:18] ml8mr opened #225 "Report log file location on exit"
Errors encountered while running `ceph-salt apply` interactively are only seen on the screen until the utility has exited. After exit, the screen is cleared and it appears that these messages are lost. However, the errors should be written to a ceph-salt log, which the admin may not know about. To improve usability, this log file location should be displayed upon exiting.

A simple message on exit

[2020-05-11 18:28] ml8mr opened #226 "Add ability to pause interactive screen refreshes"
When running `ceph apply` interactively, it may be helpful to pause screen refreshes. This would aid in analyzing error messages, particularly in large environments. Ideally, this would also allow copy and paste from the interactive shell output.

If this is possible, it should be added as "(p)ause" (similar to the already existing "(c)ollapse" option). (Although there is a risk that people will a

[2020-05-11 18:30] ml8mr commented on #222
Given the great improvement in load times with Ricardo's latest PR, adding this message may not be necessary after all.  :)

[2020-05-12 02:15] tserong commented on #217
Don't focus too much on the time server thing, that was just an example. The point I was trying to make is that if the salt master needs to be a minion for *any* reason at all, you still probably don't want it to be under cephadm's control.

If it's annoying to add a cephadm role to every other node, we could reverse that logic, and, say, have a role that excludes a node from cephadm's control? Th

[2020-05-12 09:16] ricardoasmarques commented on #226
Some ideas to try to avoid the `(p) pause <-> suspend all operation` ambiguity.

1) I'm not sure if it's possible to implement, but it would be great if we can automatically pause the refresh when we detect that the user has any text selected.

2) If we can't do 1), then we can consider pausing the refresh if the user keeps `shift` key pressed.

3) After execution is complete we no longer display

[2020-05-12 11:35] tserong opened #229 "`ceph-salt export` logs private ssh key and dashboard password to /var/log/ceph-salt.log"
When running `ceph-salt config ls`, the private ssh key is (correctly) not included in the log by the PillarManager.get() function, which looks like it's being called for every value individually (the dashboard password will also be skipped once #228 goes in). However, when running `ceph-salt export`, it calls PillarManager.get('ceph-salt'), which dumps the entire pillar contents, so everything in

[2020-05-12 11:47] smithfarm commented on #229
Something to keep in mind: the purpose of "ceph-salt export" is to produce output that can later be passed to "ceph-salt import", to reproduce the configuration (e.g., when starting again from a clean slate). To the extent that the dashboard username and password are part of the configuration, they need to be included in the export output.

Not that I am against being safe and not writing secrets

[2020-05-12 12:55] tserong commented on #229
It's totally fine for `ceph-salt export` to dump everything to the export output (if it didn't, `ceph-salt import` wouldn't work, as you say). The thing I object to is that everything is *also* simultaneously dumped to /var/log/ceph-salt.log.

[2020-05-12 13:01] smithfarm commented on #229
Oh. I didn't realize export was logging. Thanks for the clarification!

[2020-05-13 08:15] ricardoasmarques opened #231 ""ceph-salt status" is slow on large clusters"
Some features like `ceph-salt status` and https://github.com/ceph/ceph-salt/issues/190 make heavy use of the `host` grain, but accessing this grain is expensive:

[code]

We have to optimize the access to this grain, perhaps by storing it in `ceph-salt` pillar data.

[2020-05-13 11:50] smithfarm commented on #192
It's also possible to set a flag instructing the dashboard to force the user to change the password on first login. So, the default behavior could be: "if the user does not set the dashboard username/password explicitly, set it to admin/admin and turn on said flag".

[2020-05-13 11:57] LenzGr opened #232 "ceph-salt should enforce a password change for the dashboard admin user upon first login"
For security reasons, the admin user account that gets created by ceph-salt should be configured to enforce a change of their password upon the first login.

This can be accomplished by adding the option `--pwd_update_required` to the`ceph dashboard ac-user-create` call that creates the admin user account.

[2020-05-13 11:59] sebastian-philipp commented on #232
See

https://github.com/ceph/ceph/blob/47d737c51795a6f4b8057275462c328a3f13d332/src/cephadm/cephadm#L2628-L2629

[2020-05-13 12:09] ricardoasmarques commented on #232
Already implemented on the following open PR https://github.com/ceph/ceph-salt/pull/220

[2020-05-13 13:53] ricardoasmarques commented on #204
PR https://github.com/ceph/ceph-salt/pull/224 improves `ceph-salt config` performance significantly.

[2020-05-13 14:32] #60 closed, assigned to ricardoasmarques

[2020-05-13 14:32] #177 closed, assigned to ricardoasmarques

[2020-05-13 14:41] #222 closed, assigned to ricardoasmarques

[2020-05-13 21:33] smithfarm commented on #12
Now that https://bugzilla.suse.com/show_bug.cgi?id=1165821 is fixed by podman 1.8.0, I'm asking @sebastian-philipp if that means https://github.com/ceph/ceph/pull/33850 can now be reverted, thereby paving the way for work on this issue to go forward?

[2020-05-14 08:18] #223 closed, assigned to ricardoasmarques

[2020-05-14 12:12] ricardoasmarques commented on #218
Having different structures is not an issue.

[2020-05-14 12:12] #218 closed, assigned to nobody

[2020-05-14 17:28] #192 closed, assigned to ricardoasmarques

[2020-05-14 17:28] #232 closed, assigned to ricardoasmarques

[2020-05-15 13:39] #229 closed, assigned to ricardoasmarques

[2020-05-17 06:11] tserong opened #236 "Need to invoke `ceph orch apply crash`"
We need to add a call to `ceph orch apply crash` to make the orchestrator deploy the ceph-crash service. Without this, ceph crashes never get posted, so won't appear in `ceph crash stat` or `ceph crash ls` (`cephadm bootstrap` would normally do this, but we're calling it with `--skip-ssh`, so don't get this behaviour by default - see also https://tracker.ceph.com/issues/45572).

[2020-05-18 09:17] ricardoasmarques opened #237 "Local registry setup"
It would be useful if `ceph-salt` provides a **role** to setup a local registry[1].

We can also including front web server (nginx), certificate generation, and certificate acceptance in all nodes.

[1] https://github.com/SUSE/doc-ses/commit/647470da12de867c13d7fb82905106dc32b3b09c#diff-a5976e7fca1dfd90ad89dd2666a99ba7R579

[2020-05-18 09:29] sebastian-philipp commented on #236
I personally don't like to simply run `ceph orch apply crash` without any placement specs.

I know how it works, but it I doubt that everyone knows the default placement specs for each service.

I'd like to make `--placement` mandatory and force users to run `ceph orch apply crash --placement '*'`

[2020-05-18 09:31] bk201 commented on #237
Airgapped deployment in CaaSP (not only registries, but also package mirroring and more)
https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-deployment/#_airgapped_deployment

[2020-05-18 14:17] bk201 opened #238 "deployment fails on `wait for time server sync`"
ceph-salt deployment fails when waiting for time server sync
[code]
If I tried `ceph-salt -ldebug apply --non-interactive` again, the time syncing **will succeed**. It only happens on first attemp.

Other information:
[code]
Log file:
[time_sync_error.log](https://github.com/ceph/ceph-salt/files/4644620/time_sync_error.log)

[2020-05-19 01:33] bk201 commented on #238
I tried using a NTP server in my country and it succeeded at first pass.

[2020-05-19 05:12] tserong commented on #236
I agree that nobody will know WTF the default placement specs are, and users should explicitly specify a placement when they deploy a service. For the crash service though, I still think we should automate this, i.e. ceph-salt should run `ceph orch apply crash '*'`, without the user having to do it by hand.

[2020-05-19 09:28] smithfarm commented on #238
Yes, I think it makes sense for ceph-salt to try to sync the clock more than once before giving up.

[2020-05-19 11:25] sebastian-philipp commented on #236
which is already the caes, as crash is automatically enabled if you don't say --skip-ssh

Maybe we should change the behavior of --skip-ssh to align it with expectations?

I.e. why skipping `apply crash '*'` if we don't have any hosts, that's unrelated

[2020-05-19 14:59] ricardoasmarques commented on #199
Should be fixed by https://tracker.ceph.com/issues/45378

[2020-05-19 15:17] ricardoasmarques opened #240 "Create `/var/log/journal` directory"
In order to have persistent logs, `ceph-salt` should create `/var/log/journal` directory in all minions, during the provisioning.

[2020-05-19 15:59] swiftgist opened #241 "Excessive timeout on failed time sync"
Ten minutes is too long for a failure

[code]

I suggest setting the command to `chronyc waitsync 6 0.04` or removing the waitsync since the previous `chronyc makestep` can fail already.

[2020-05-19 16:07] smithfarm commented on #241
May I ask why you think 10 minutes too long? The waitsync has been known to take several minutes to complete successfully.

The purpose of syncing the clocks is two-fold:

1. to ensure that the cluster does not come up in HEALTH_WARN due to clock skew
2. to flag time sync issues before the cluster gets deployed

To me, 10 minutes does not seem like a very long time for a command that is expected t

[2020-05-19 16:09] smithfarm commented on #241
Maybe we can do some sanity checks on the external time server(s) specified by the user, before triggering the clock sync script? Then if someone specifies e.g. "pool.npt.org" (i.e. a typo), we could fail much quicker.

[2020-05-19 16:29] ricardoasmarques opened #242 "Purge the whole cluster"
It should be possible to remove all daemons by running `ceph-salt purge` command.

We can remove all daemons by running `cephadm rm-cluster --fsid $FSID --force` on all cephadm minions.

[2020-05-19 21:17] swiftgist commented on #241
For the general case, ten minutes is a long time for failure when most/many users may simply rerun `ceph-salt` without investigation to see if the problem is temporary.  With further investigation and running the script directly, the additional runs do add up.

Is your experience with the "known to take several minutes" only in the testing environment?   I would be surprised in general that `chron

[2020-05-19 21:22] swiftgist commented on #241
For the most part, the fail fast is needed.  I honestly haven't figured out why I have exactly one minion out of 10 that failed consistently even with restarts of `chronyd` on both that minion and the admin node.

I don't know if you would consider configurable tries if there is some systems that require a while for `chronyc waitsync`.  As you can see from the output, no correction or skew was hap

[2020-05-20 07:25] tserong commented on #236
Yeah, but ceph-salt *does* say --skip-ssh :-)

--skip-ssh also skips `ceph mgr module enable cephadm`, and `ceph orch set backend cephadm`. So maybe --skip-ssh should be changed to *only* skip ssh, and still have `cephadm boostrap` enable the cephadm module? In which case, ceph-salt wouldn't need to do those latter things anymore.

[2020-05-20 07:27] sebastian-philipp commented on #236
yes yes yes yes

[2020-05-20 11:27] smithfarm commented on #241
I'm confused by this question: ceph-salt is not used in production anywhere, yet, so I'd call all our environments "testing".

What I have seen is that the wait-sync can take quite a long time if run (as we are doing it here) soon after the chrony service is brought up for the first time. Once the chrony service has been running for awhile, wait-sync typically becomes very fast. When it is in this

[2020-05-20 14:19] #217 closed, assigned to ricardoasmarques

[2020-05-20 14:22] #238 closed, assigned to smithfarm

[2020-05-20 14:25] #240 closed, assigned to nobody

[2020-05-20 14:57] ricardoasmarques commented on #236
@tserong @sebastian-philipp FYI, I've submitted a `cephadm` issue - https://tracker.ceph.com/issues/45629

[2020-05-20 18:54] swiftgist commented on #241
My point is that this will be production code and that the priority should be production environments.  Telling customers to sit out timeouts because of testing environments will not end well.

Mine is similar:
[code]

I am able to work around this in my environment.  My point of creating the issue is that failures can happen where the waitsync still times out.  When that happens, a user will just

[2020-05-21 12:36] smithfarm commented on #241
I completely agree, and that's why we're implementing the code carefully and testing it intensively to maximize the probability that it won't fail in production. Though I wrote it once, I guess it's worth repeating:

"What I have seen is that the wait-sync can take quite a long time if run (as we are doing it here) soon after the chrony service is brought up for the first time."

Now, am I underst

[2020-05-25 12:33] #189 closed, assigned to ricardoasmarques

[2020-05-26 14:18] ricardoasmarques commented on #158
This can be implemented using the new `import` option node, introduced in https://github.com/ceph/ceph-salt/pull/243.

[2020-05-26 15:34] smithfarm commented on #208
When `/time_server` is disabled, we'll check all hosts with `cephadm` role, as part of the validation stage before the Salt Formula is triggered, to ensure that they have a time sync service active. This will essentially be a duplication of the check that `cephadm check-host` will do later. The purpose of duplicating it is to fail earlier and make it clear to the user that, having disabled `/time_

[2020-05-27 05:40] tserong opened #252 "Remove check for admin_minion in cephadm_minions"
Currently, all minions with the 'admin' role are also required to have the 'cephadm' role. This means you can't have a node which has the ceph.conf file and admin keyring, which isn't also managed by the orchestrator. Can we change this? Because I want my salt master to have the 'admin' role (so I can run `ceph` commands from it), but I _don't_ want the salt master to end up running ceph services

[2020-05-27 06:29] tserong commented on #252
If we make this change, we probably also need to add a separate check to ensure bootstrap_minion has the cephadm role. That's really the only requirement, right? The bootstrap minion must have both admin and cephadm roles. Any other node you want to run cluster services must have the cephadm role, and any node you want to be able to run `ceph` commands on must have the admin role, but the two are

[2020-05-27 12:32] ricardoasmarques commented on #252
The only issue I see with this change is that your `ceph.conf` will be outdated when you move monitors.

Note that we have a `cephadm` issue [1] to automatically update `/etc/ceph/ceph.conf` on all hosts, but if your `admin` minion is not managed by `cephadm`, then your `ceph.conf` will **not be updated** by cephadm.

Is this a problem? Perhaps `ceph-salt` should only distribute/copy the `keyring`

[2020-05-27 12:51] tserong commented on #252
Dammit, I'd forgotten about that :-/

I guess this is really a variant on #217. The underlying issue is that I want to be able to have some node that will *never* host ceph services (so `ceph orch apply mon` won't randomly start a mon, or whatever), but that can still be an admin node.

I'm not sure what a good solution is here..

[2020-05-27 13:51] sebastian-philipp commented on #252
`ceph orch drain <host>` add a flag to disable the scheduling for a specific host. See https://github.com/ceph/ceph/pull/34617

maybe we need to make this somehow explicit?

[2020-05-28 03:18] tserong commented on #252
Once that goes in, we could possibly revert the cephadm role (sorry!) then just rely on the user setting `ceph orch drain` on any host they don't want services scheduled on... Although using the term "drain" for this purpose, when your intent is to exclude a node from the outset strikes me as a bit odd :-)

[2020-05-28 08:16] ricardoasmarques commented on #252
What about something like:
[code]

[2020-05-28 08:27] sebastian-philipp commented on #252
That might be the reason that Kubernetes uses three terms for this: "drain" for initiating a thing called "eviction". Plus a node key called "NoSchedule"

[2020-05-28 09:01] tserong commented on #252
LGTM!

[2020-05-28 09:02] sebastian-philipp commented on #252
note that drain isn't implemented yet

[2020-05-28 09:51] tserong commented on #252
ack

[2020-05-29 09:10] ricardoasmarques commented on #198
@smithfarm When you want to run the formula directly from salt, you need to perform some additional setup steps (that `ceph-salt apply` do automatically for you) - see https://github.com/ceph/ceph-salt/blob/master/README.md

[code]

but

[code]
Can you confirm that if you restart `salt-master` and do `salt sync all` before applying the formula, it succeeds?

[2020-05-29 11:52] #198 closed, assigned to nobody

[2020-05-31 13:40] Christian-Rau opened #256 "Cephadm bootstrap: Failed to connect to node.."
After running these steps:
[code]
Its running fine until:

INFO:cephadm:Wrote public SSH key to to /etc/ceph/ceph.pub
INFO:cephadm:Adding key to root@localhost's authorized_keys...
INFO:cephadm:Adding host node-XXX...

INFO:cephadm:Non-zero exit code 2 from /usr/bin/docker run --rm --net=host -e CONTAINER_IMAGE=docker.io/ceph/ceph:v15 -e NODE_NAME=node-XXX-v /var/log/ceph/137d983c-a33d-11ea-ae56-0

[2020-05-31 15:36] Christian-Rau commented on #256
After doing some SSH key checking as proposed in the docs. I found that the problem was that I had closed down **root access** when I changed my SSH port to default!

I hope this gets fixed. - I maybe even better, with a decent plugin for cockpit/Debian!
_now I have to find out if I can shut root access again?_

[2020-05-31 15:36] #256 closed, assigned to nobody

[2020-06-01 10:20] #158 closed, assigned to ricardoasmarques

[2020-06-01 10:22] #225 closed, assigned to ricardoasmarques

[2020-06-01 14:36] ricardoasmarques commented on #19
Blocked by https://tracker.ceph.com/issues/45016

[2020-06-01 17:22] smithfarm opened #258 "Export the execution summary to file"
If one runs "ceph-salt apply" and then "expand all", one gets a summary, in the form of a tree, of what actions were performed on each minion. This is very nice - bravo!

However, when the user leaves the ncurses interface, this detailed execution summary disappears forever. There is a log file with lots of details in it, but it would be nice to also save ("export") the execution summary as a sepa

[2020-06-02 10:48] #226 closed, assigned to ricardoasmarques

[2020-06-02 13:43] jan--f commented on #195
:+1: for having this feature.
Left over salt jobs can be killed via `salt <target> saltutil.kill_job <job_id>` or shotgun style `salt '*'  saltutil.kill_all_jobs` iirc. The latter one might interfer with SUMA jobs though.

[2020-06-02 13:59] jan--f opened #260 "Validate that minion_id is the correct fqdn"
If a host can not be pinged under its minion_id (which is expected to be a fully qualified hostname) `ceph-salt apply` will not be able to run.
Validate that `ping <minion_id>` works.

[2020-06-02 14:49] jan--f opened #261 "Validate /cephadm_bootstrap/mon_ip"
After importing an older config (via json import) I had a wrong ip address set as the bootstrap mon_ip.
`ceph_salt apply` failed as expected and I could exit, however the error message was not hugely helpful.
May we could validate that the ip under /cephadm_bootstrap/mon_ip is actually available on /ceph_cluster/roles/bootstrap?

[2020-06-02 17:54] denisok commented on #199
we had same issue during our testing, there is disconnection between 2 tools - `ceph-salt` and `ceph orch`.
We also had the issue of ceph-salt not being able to connect to the ceph, and thus hanging without any errors. Looks like it runs `ceph orch status` and never returns (at least we weren't patient enough).

At least show error ?

Even `-l debug` didn't help to find out what is wrong, we just

[2020-06-02 18:13] smithfarm commented on #199
@denisok Did you try running `ceph orch status` directly from the command line (not via `ceph-salt`)?

[2020-06-02 18:19] denisok commented on #199
sure, it was hanging because ceph.conf pointed to the wrong ip, as `ceph orch apply mon` changed that mon :)

[2020-06-03 07:28] matthewoliver commented on #199
OK, so when we run something like:
ceph orch apply mon node2,node3

This doesn't mean run mon also on these nodes but instead only run it on these nodes? because if that's the case, that doesn't seem intuitive to me.

Changing it in /etc/ceph/ceph.conf to point at one of the new mons worked however. When I ran `cephadm` it didn't seem to work, should that have created a new and correct cephadm?

[2020-06-03 07:31] denisok commented on #199
and even when we removed ceph.conf it did hang :)

https://github.com/ceph/ceph-salt/blob/7e6d33d6bc01fc25b97f46e04209edadfb98d244/ceph-salt-formula/salt/_modules/ceph_orch.py#L12

looks like that is in some kind of salt state that tries to apply it over and over again ? disregarding that it fails ?

we need kind of info and timeout probably )

[2020-06-03 07:34] ricardoasmarques commented on #199
I wonder if changing it to `cephadm shell -- ceph orch status` is an alternative for the timeout, see my comment on the following commit https://github.com/smithfarm/ceph-salt/commit/5e7fa839b11be954a802493958305a68fadc3aa6 - need to be tested

[2020-06-03 07:39] denisok commented on #199
maybe, but some error message would be also nice

[2020-06-05 13:45] swiftgist opened #265 "Make bootstrap_mon optional"
For considering upgrades where a Ceph cluster already exists, I think it makes sense to use `ceph-salt apply` for the subset of states that are not related to a fresh deployment.  These are

[code]

If the remaining steps are dependent on the presense of a bootstrap_mon, then

[code]
would run for a fresh deployment.  All other scenarios would skip these parts.

Note that `cephtools` above does ha

[2020-06-05 14:10] jan--f opened #266 "Attempting to add unresponsive minion give backtrace"
I tried adding a already configured minion to the ceph_cluster config. The minion happened to be unresponsive (some issue with the VM).

ceph-salt printed a stack trace and exited:
[code]
A nicer error message would be great.

[2020-06-06 09:23] smithfarm commented on #208
[code]

And `check_units` is just a simple wrapper around:

[code]

[2020-06-06 09:25] smithfarm commented on #208
I'm reluctant to duplicate a bunch of cephadm code in ceph-salt unless it's really needed. Putting this on hold for now.

[2020-06-10 01:12] tserong commented on #265
We still need the "configure ssh orchestrator" part of cephbootstrap for the upgrade case (see #267)

[2020-06-17 08:19] ricardoasmarques commented on #265
Checking for `bootstrap_minion` presence to control if those steps are executed or not will force us to always have a `bootstrap_minion` in our config, even after the initial deployment, otherwise new minions will not be automatically added to the orchestrator.

If we want to keep the behavior of allowing the user to remove the bootstrap minion after day 1, then we need a new setting on `ceph-salt

[2020-06-18 17:41] ricardoasmarques commented on #120
Using `cephadm shell -- ceph` instead of `ceph` has usability issues especially when referencing files via `--mount` option.

For this reason, we will continue installing `ceph-common` for now.

[2020-06-18 17:41] #120 closed, assigned to ricardoasmarques

[2020-06-18 21:12] ricardoasmarques commented on #199
`cephadm` PR to automatically keep `/etc/ceph/ceph.conf` in sync on all hosts: https://github.com/ceph/ceph/pull/35576

[2020-06-19 13:45] #173 closed, assigned to nobody

[2020-06-19 13:45] #176 closed, assigned to nobody

[2020-06-22 09:02] ricardoasmarques commented on #31
Closing this issue because `ceph-salt` should be capable of perform any action after initial deployment.

[2020-06-22 09:02] #31 closed, assigned to nobody

[2020-06-23 08:12] toabctl opened #272 "UX: Setting the bootstrap minion should also set the `admin` role and the `cephadm` role"
When setting the bootstrap minion, this minion should automatically added to the `roles/admin` and `roles`cephadm` list.
Otherwise you have to do theses steps manually.

[code]

When then adding the same node to the admin role and trying to apply again, I get:
[code]

So next manual step is:

[code]

[2020-06-23 15:54] smithfarm opened #274 "Add parameter to control "--skip-monitoring-stack""
By default, unless "--skip-monitoring-stack" is given, "cephadm bootstrap" will deploy the monitoring stack (prometheus, grafana, alertmanager, node-exporter) automatically along with the first MON and MGR.

Currently, ceph-salt **always** gives "--skip-monitoring-stack", so there is no way for a ceph-salt user to take advantage of this feature of "cephadm bootstrap".

Let's add a config parameter

[2020-06-29 08:40] LenzGr opened #279 "man page missing"
Currently, the `ceph-salt` CLI does not provide documentation in the form of a man page:
[code]
As man pages are the canonical way of providing documentation for command-line utilities, it would be useful to add one.

[2020-06-29 12:43] sebastian-philipp opened #280 "avoid :latest tag"
https://github.com/SUSE/doc-ses/issues/398

If a user enters a `/containers/images/ceph` without a tag name, `:latest` will be used, which breaks upgrades to future patch releases.

[2020-07-01 13:36] LenzGr opened #284 "Inconsistent tab-completion behavior in `ceph-salt config`"
Just a minor usability issue: I noticed that tab completion does not work when trying to modify a configuration option from within the configuration group.

For example, I can do a `cd /cephadm_bootstrap/dashboard>` to change into the `dashboard` config group using tab completion quickly. But once inside that group, I can not complete the option name using the Tab key, I need to type out the compl

[2020-07-01 13:39] LenzGr opened #285 "`ceph-salt config` does not support modifying config options from outside the configuration group"
It would be nice if it would be possible to modify configuration options from within the "root" of the configuration tree, including full tab support up to and including the actual config option (see #284 for a related issue).

For example, it would be nice if the following would not fail:
[code]

[2020-07-01 13:45] LenzGr opened #286 "`ceph-salt config` does not support Umlauts (and probably other non-ASCII chars)"
Just for fun, I tried to do the following:
[code]
However, the stored username only contains the first letter:
[code]
Maybe this is related to #86 ?

[2020-07-01 13:45] ricardoasmarques commented on #280
@sebastian-philipp is https://github.com/ceph/ceph-salt/pull/282 sufficient to close this issue, or there's anything missing?

[2020-07-01 13:50] sebastian-philipp commented on #280
I mean, `:latest` is **really** bad. Everything works perfectly well without any flaws. Then. we push a new maintenance update, and suddenly you'll get a mixed-version cluster bypassing the usual upgrade procedure. Then we push a second maint-update and suddenly you have three minor versions in your cluster. And then the user wants to migrate to the first maint-update and suddenly you're downgradi

[2020-07-01 13:52] ricardoasmarques commented on #285
You are using incorrect syntax, config path should be the first thing:

[code]

[2020-07-01 13:57] ricardoasmarques commented on #284
@LenzGr you are using the wrong syntax. If your first argument is the path, `tab` behaves as expected:

[code]

[2020-07-01 14:07] LenzGr commented on #284
This indeed works, thanks! But I must admit that I find this order quite confusing - I can do a `cd <path>` and an `ls <path>`, and I just noticed that `<path> ls` works as well. And for changing something, I would find it more logical to start with the command, followed by the object that I would like to change (like in a regular shell). But I understand that's a limitation of the `config-shell`

[2020-07-01 14:10] LenzGr commented on #285
This works indeed - thanks. However, this feels somewhat unintuitive, but I understand it needs to be fixed in the `configshell` Python module itself.

[2020-07-01 14:10] #285 closed, assigned to nobody

[2020-07-01 14:10] #284 closed, assigned to nobody

[2020-07-01 14:45] smithfarm commented on #280
I think it's fine to tell the user to specify a version number explicitly, but it's not clear to me how the user is going to know which version number to specify. For example, if I'm a user and I want to install a new cluster with "the latest" version, how do I know which version number to specify at the end of the image path?

[2020-07-02 11:26] sebastian-philipp commented on #280
https://github.com/SUSE/doc-ses/pull/410

[2020-07-02 11:26] asettle commented on #280
Let me know if there's anyway I can make this clearer.

[2020-07-02 11:27] sebastian-philipp commented on #280
I think that's ok

[2020-07-03 10:37] LenzGr opened #288 "Add support to `ceph-salt export` to write to a file directly"
Currently, `ceph-salt export` dumps the content of the configuration to STDOUT by default and the user needs to redirect the output into a file themselves. Depending on the user's `umask`, this might accidentally expose the file's content to other users, which might be undesirable based on the information it contains, e.g. an SSH private key. (see https://github.com/SUSE/doc-ses/issues/339 for det

[2020-07-03 11:23] smithfarm opened #289 "Give users the option of not exporting the SSH private key"
There are two use cases for "ceph-salt export". The first use case is: "I want to export the configuration so I can **import** it later". The second is: "I want to export the configuration so I can **examine** it later".

The former use case ("for import") requires that the export be complete, including the SSH private key. The latter use case is for examination by humans, who do not need to see t

[2020-07-03 11:26] LenzGr commented on #288
Also see https://github.com/ceph/ceph-salt/issues/289 for an additional functionality request

[2020-07-03 11:37] smithfarm commented on #289
A little bird just chirped into my ear that supportconfig already tries to handle this: https://github.com/SUSE/supportutils-plugin-ses/blob/master/ses#L296-L299

But I think it still makes sense to give users this option. It will make users feel safer, and make the supportutils-plugin-ses code easier to read, at the same time.

[2020-07-06 11:24] tserong commented on #280
Why would you "suddenly" have a mixed version cluster just because we pushed a new maintenance update? Wouldn't that only be a potential problem at the time of deploying a new node? Or am I missing some important detail?

Why would the user want to migrate to the first maintenance update in the above example? Shouldn't they always want to upgrade to the latest maintenance update?

[2020-07-09 12:29] asettle commented on #280
@mweiss logged this issue in Bugzilla. Ensuring he is tagged to monitor the situation.

[2020-07-10 06:12] tserong commented on #194
So that's merged in configshell. Next we'd have to wait for an upstream release from there, and a subsequent downstream update in SLE before that warning goes away. There shouldn't be any actual changes required inside ceph-salt though :-)

[2020-07-13 09:44] ricardoasmarques commented on #190
To implement this we would need to read `hostname` grain from all `cephadm` minions, which is an expensive operation, see PR https://github.com/ceph/ceph-salt/pull/293 for information about how expensive it is.

Since the benefit does not justify the performance impact here, I'm closing this issue for now.

[2020-07-13 09:44] #190 closed, assigned to nobody

[2020-07-13 13:28] kshtsk opened #294 "Improve error logging"
We can see error messages like that?
[code]
Can the logger be improved so "stderr" and "stdout" represent human readable multi-line text instead of escaped text, yaml supports `|` for its records.

[2020-07-14 10:17] #231 closed, assigned to nobody

[2020-07-15 13:13] smithfarm commented on #274
After discussing this from all sides, "--skip-monitoring-stack" is the right thing for ceph-salt to be doing here.

[2020-07-15 13:13] #274 closed, assigned to nobody

[2020-07-15 13:40] ricardoasmarques opened #296 "Print dashboard URL after 'ceph-salt apply'"
After `ceph-salt apply` is executed, we should print the dashboard URL:

[code]

[2020-07-16 11:15] ricardoasmarques commented on #237
Moved to https://github.com/SUSE/sesdev/issues/388

[2020-07-16 11:15] #237 closed, assigned to nobody

[2020-07-16 13:21] #236 closed, assigned to ricardoasmarques

[2020-07-17 15:58] smithfarm opened #300 "Unalias the ceph container image tag before sending it to cephadm"
As https://jira.suse.com/browse/SES-2017 explains, it will not be allowed to specify a ":latest" tag (or any other tag that isn't absolute, final, immutable) on the ceph container image path. That also means it won't be allowed to specify an image path without an explicit tag (since that would default to ":latest").

Since this will be confusing and bothersome for customers who are not accustomed

[2020-07-17 19:53] smithfarm commented on #300
This might be relatively simple to implement. We could allow the user to specify any tag, or no tag. Once the container image has been downloaded (`podman pull`), the immutable tag can be determined just by looking which image was downloaded. Then ceph-salt can munge the image path value in the config store (changing the tag given by the user to the immutable tag) and then pass the munged image pa

[2020-07-24 20:29] smithfarm opened #304 "Edit "/etc/systemd/journald.conf" on behalf of the user"
If the `/var/log/journal` directory does not exist (or does not have the right permissions/ownership), systemd will not persist log messages emitted by daemons running in containers. In such a case, the journal will be stored in memory, with the result that the vast majority of log messages will be lost: only the very most recent ones will be stored in memory.

It seems highly likely that the SLE

[2020-07-29 09:08] smithfarm commented on #197
I have an idea: provide a command that would repeat the exact same `cephadm bootstrap` command that was already performed once, just with a different `--fsid`?

[2020-07-29 10:25] Martin-Weiss opened #309 "registries.conf should also have unqualified-search-registries = ["docker.io"]"
registries.conf should also have unqualified-search-registries = ["docker.io"]

(just in case other containers are used later on..)

[2020-07-29 10:27] Martin-Weiss opened #310 "local stratum 10 and manual in chrony.conf - why?"
We should not rely on local time and I am not sure why "manual" is in the template.

[2020-07-29 10:38] sebastian-philipp commented on #309
ok this now conflicts with https://github.com/ceph/ceph/pull/36315

Either we go with proper search registries or we don't.  cc @p-se

[2020-07-29 10:58] Martin-Weiss commented on #309
I so not think this is a conflict.. we just need the default for unqualified searches..

 /etc/containers/registries.conf:

[code]

[2020-07-29 11:16] smithfarm commented on #310
@Martin-Weiss Thanks! These two lines are being dropped by #311

[2020-07-29 11:50] smithfarm commented on #215
As of #308 we are using the `--apply-spec` option to ensure that `cephadm bootstrap` only creates a single MON and a single MGR (both on the bootstrap node). Otherwise, it will create up to 5 MONs and 2 MGRs (on random nodes).

As a result, assuming #308 gets merged, this option will not be available for users.

Also, to put it bluntly, if we give users a way to send their own handwritten service

[2020-07-29 13:19] Martin-Weiss commented on #309
If we do not have internet access we go even further like this:
[code]

[2020-07-30 14:59] #310 closed, assigned to smithfarm

[2020-07-31 12:35] #242 closed, assigned to nobody

[2020-08-05 10:29] ricardoasmarques opened #314 "Net diagnose runner"
Deepsea has a `net` diagnose runner that should be migrated to `ceph-salt`: https://github.com/SUSE/DeepSea/blob/master/srv/modules/runners/net.py

**Examples:**
- `net.ping`
- `net.jumbo_ping`
- `net.iperf` (for benchmarking)

See https://github.com/SUSE/doc-ses/pull/452/files#diff-55fcd0709fcdda330ba4b58d4245dbd1R698

**Related PRs:**
- https://github.com/ceph/ceph/pull/36509

[2020-08-05 17:35] ricardoasmarques opened #317 "Unable to use 'cephadm' as the SSH user"
If `cephadm` is used as the SSH user, `ceph-salt apply` hangs due to missing permission (e.g. `ceph -s` is now allowed).

This happens because when `cephadm` is installed, it will override `/etc/sudoers.d/cephadm` [1] with the permissions in [2].

**Possible solution:**

1) do not allow 'cephadm' user to be set in ceph-salt
2) change permissions in [2] to ???
3) other?

[1] https://github.com/ceph

[2020-08-05 21:13] ricardoasmarques commented on #317
Note that this may happen if we choose any user that is created by a package installation.

[2020-08-05 22:41] ricardoasmarques opened #320 "Only configure SSH keys and user if needed"
If SSH keys and user have not changed, we should not set them [1] (or cephadm should be capable of ignoring it if nothing has changed).

[1] https://github.com/ceph/ceph-salt/blob/master/ceph-salt-formula/salt/ceph-salt/apply/ceph-admin.sls#L18-L20

[2020-08-06 10:03] ricardoasmarques commented on #320
`cephadm` PR that will fix this issue: https://github.com/ceph/ceph/pull/36492

[2020-08-06 14:02] ricardoasmarques commented on #314
By looking into runner code, I can conclude that it depends a lot on DeepSea pillar structure (e.g. `cluster_network`, `public_network`).

The migration will not be straightforward.

[2020-08-07 09:11] #309 closed, assigned to ricardoasmarques

[2020-08-10 08:42] #265 closed, assigned to ricardoasmarques

[2020-08-10 08:57] #317 closed, assigned to ricardoasmarques

[2020-08-10 15:42] #199 closed, assigned to ricardoasmarques

[2020-08-10 16:12] ricardoasmarques opened #324 "Document all 'ceph-salt' commands in README"
- `ceph-salt update`
- `ceph-salt reboot`
- `ceph-salt stop`
- `ceph-salt purge`
- ...

Relates to: https://github.com/ceph/ceph-salt/issues/279

[2020-08-11 14:09] ricardoasmarques commented on #300
Relates to https://github.com/ceph/ceph/pull/36432

[2020-08-11 14:18] ricardoasmarques commented on #205
Relates to https://github.com/ceph/ceph-salt/issues/261

[2020-08-11 14:38] sebastian-philipp commented on #300
yep. please wait with this. I'd like to fix this in cephadm

[2020-08-12 10:44] ricardoasmarques commented on #194
Fixed in `cofigshell-fb`.

[2020-08-12 10:44] #194 closed, assigned to nobody

[2020-08-14 09:23] ricardoasmarques commented on #320
https://github.com/ceph/ceph/pull/36492 has been merge (not backported yet)

[2020-08-20 13:35] smithfarm opened #326 "Now that we have "ceph-salt update [--reboot]" we should remove package update and reboot steps from "ceph-salt apply""
Currently, in the default case, "ceph-salt apply" will

1. update all packages on each node/minion (including the master node)
2. reboot all nodes except the master
3. continue on its way

This is a recipe for trouble, because:

1. the minions might not all come back from reboot
2. the master will have "processes using deleted files" (potentially lots of them, depending on how out-of-date the syst

[2020-08-20 13:43] smithfarm commented on #326
Related downstream bug: https://bugzilla.suse.com/show_bug.cgi?id=1175537

[2020-08-20 15:05] smithfarm commented on #326
Another possible pitfall:

minions might be running (started), but not **enabled**, when `ceph-salt apply` is triggered. If `ceph-salt apply` then reboots the minion node, it will come back but `salt-minion.service` will not be active.

[2020-08-20 15:23] smithfarm commented on #326
[code]

As currently implemented, `ceph-salt update` refuses to work if run before `ceph-salt apply`. But this could be reworked... I can't think of any reason why a running Ceph cluster would be needed to update the systems.

[2020-08-20 16:47] smithfarm opened #327 "In theory, "ceph-salt apply" should be idempotent, but in practice there are issues"
It seems fairly easy to get a cluster into the following state by re-running "ceph-salt apply" and interrupting it while it's still running:

[code]

Now, I understand I'm not supposed to interrupt it, and "ceph-salt apply" tries to make it difficult for me to do so, but we cannot just say: "don't interrupt it while it's running". What if the user experiences a power failure while it's running?

A

[2020-08-20 17:00] smithfarm opened #328 ""ceph-salt apply" has minions use ssh to check grains on other minions - add a sanity check for this?"
In "ceph-salt-formula/salt/_states/ceph_orch.py" we have this code:

[code]

In https://bugzilla.suse.com/show_bug.cgi?id=1175561 we found that when we tried to ssh from one minion to another in this way, SSH just asked for a password.

That gave me the following idea: when the user initiates `ceph-salt apply`, several sanity checks are run. Could we include a sanity check for the ability of a min

[2020-08-24 09:37] ricardoasmarques commented on #328
SSH is configured by `ceph-salt` so I believe it's safe to assume it's well configured.

Perhaps, what we need to validate before-hand is that all hosts can resolve other hostnames?

[2020-08-24 10:49] ricardoasmarques commented on #327
Yes, that message is displayed when there are `ceph-salt` salt jobs still running, we should try to add a check for that and/or be able to force `quit`.

Related to https://github.com/ceph/ceph-salt/issues/195

[2020-08-24 11:09] smithfarm commented on #195
`ceph-salt apply` could check for running jobs:

[code]

and, if there are any, educate the user about available options, as well as refusing to continue?

[2020-08-24 11:09] smithfarm commented on #327
`ceph-salt apply` could check for running jobs:

[code]

and, if they are detected, educate the user how to kill them?

[2020-08-24 13:18] smithfarm commented on #327
`salt '*' saltutil.kill_all_jobs`
(or
`salt '*' saltutil.kill_job <job id>` if you don't want to kill all jobs)

[2020-08-24 13:23] smithfarm opened #330 "ceph-salt status/apply: Add /etc/ceph/ceph.conf sanity check"
`ceph-salt status`/`ceph-salt apply` runs various sanity checks before applying the Salt Formula.

Ideally we would add a sanity check for every possible problem we can think of, because once the Salt Formula is running, it's difficult to return meaningful error messages to the user.

Here's an idea for a sanity check:

If `ceph-salt status`/`ceph-salt apply` detects a ceph cluster(s) running, it

[2020-08-24 13:31] smithfarm opened #331 "ceph-salt status/apply: add Salt sanity check ("test.ping")"
`ceph-salt status`/`ceph-salt apply` runs various sanity checks before applying the Salt Formula.

Ideally we would add a sanity check for every possible problem we can think of, because once the Salt Formula is running, it's difficult to return meaningful error messages to the user.

Here's an idea for a sanity check:

`ceph-salt status`/`ceph-salt apply` can enumerate all the minions by consulti

[2020-08-24 13:36] sebastian-philipp commented on #330
wouldn't it make more sense to have this in cephadm upstream?

[2020-08-24 14:12] smithfarm commented on #330
Actually, I don't see any reason not to implement sanity checks in multiple places if they are relevant in multiple places.

As the description says: "once the Salt Formula is running, it's difficult to return meaningful error messages to the user" - so the idea is to catch environment problems *before* starting the Salt Formula, because Salt error reporting is sub-optimal.

[2020-08-24 16:58] smithfarm commented on #327
we are seeing this error when we interrupt a running ceph-salt apply, and then want to re-start it
This issue can be stated in a slightly different way.

We are seeing this issue after we "interrupt" a running `ceph-salt apply`. There are two ways to do this:

1. when `ceph-salt apply` runs in "non-interactive" mode, one can simply hit CTRL-C a couple times to interrupt it
2. when `ceph-salt apply

[2020-08-24 17:22] smithfarm commented on #327
I can reproduce the issue at will by:

1. `ceph-salt apply --non-interactive`
2. wait for it to reach at least `[STAGE] [BEGIN] Sync clocks`
3. hit CTRL-C twice
4. `ceph-salt apply --non-interactive` (fails with "Could not find ceph-salt formula. Please check if ceph-salt-formula package is installed")

I also tried running `salt -G ceph-salt:member state.sls_exists ceph-salt` when the Salt cluste

[2020-08-24 17:24] smithfarm commented on #327
As discussed with @ricardoasmarques we can check for this state by doing:

[code]

This checks if there are any Salt jobs running on the `ceph-salt:member` nodes. In this case, it's likely that a missing "ceph-salt-formula" is not the problem and we should display a different error message.

[2020-08-24 17:44] smithfarm opened #333 "ceph-salt should not restart the Salt Master when running under SUMA"
(@ricardoasmarques thought of this issue during a brainstorming session - @smithfarm is just recording it)

ceph-salt is being designed to be compatible with SUMA.

If the Salt Master is SUMA, ceph-salt should not restart it.

At the moment, I (at least) am not aware of any way to programatically test whether the Salt Master is SUMA or not, but I'm pretty sure that such a mechanism exists.

[2020-08-24 17:59] smithfarm opened #334 "pytest issues DeprecationWarning on "inspect.getargspec()""
[code]

[2020-08-24 18:01] smithfarm opened #335 "distutils issues "UserWarning: Unknown distribution option: 'setup_cfg'""
[code]

[2020-08-24 18:04] smithfarm opened #336 "Python 3.8 has been released, so Travis should test against it instead of 3.7"
Travis is currently configured to run unit tests in two environments: Python 3.6 and 3.7.

But now that Python 3.8 is out, we should change 3.7 to 3.8.

[2020-08-24 18:13] smithfarm commented on #334
Oops, this warning is coming from https://github.com/open-iscsi/configshell-fb

[2020-08-25 09:32] ricardoasmarques opened #340 "Retry zypper refresh"
Sometimes, `ceph-salt apply` fails during package installation due to a failure refreshing zypper repos, e.g:

[code]

This is a known zypper issue that happens, for instance, during repo updates.

When this happens, the solution is to run `ceph-salt apply` again.

But to mitigate this problem, it would be great if `ceph-salt` can detect the error and retry zypper refresh again.

[2020-08-25 09:39] smithfarm commented on #340
I don't see how `ceph-salt` could detect the error. Wouldn't the error-detection and retry logic have to be implemented in the `pkg.installed` Salt State?

[2020-08-25 11:15] smithfarm opened #341 "ceph-salt status/apply sanity check: all minion nodes should have clean "zypper ps -s""
If "zypper ps -s" is not clean on all nodes, `ceph-salt apply` should not initiate the Salt Formula.

[2020-08-25 14:39] smithfarm opened #342 "When steps and stages begin or end, write log message to the Salt minion log"
Execution modules can write messages to the minion logs. Quoting from https://docs.saltstack.com/en/latest/ref/modules/index.html#log-output

[code]

Stage/step begin/end is implemented using a macro.

It looks like the macros are implemented using modules.

So adding a `log.info("...")` to the relevant module should be feasible?

[2020-08-25 16:22] smithfarm commented on #342
@ricardoasmarques In the minion logs, I see messages like this:

[code]

So I guess this is just a matter of ensuring that `/etc/salt/minion` has right setting for:

[code]

(if it is set to "warning" or "error", then the log will not show these "begin_stage", etc. messages)

[2020-08-25 16:29] ricardoasmarques commented on #342
@smithfarm you are right

[2020-08-25 16:31] ricardoasmarques commented on #342
But it would be great if we log events received on master, into `/var/log/ceph-salt.log` (similar to what is printed in `--non-interactive` mode)

[2020-08-25 16:32] ricardoasmarques commented on #342
ATM, we only log those events if we receive them out of order, e.g. - https://github.com/ceph/ceph-salt/blob/master/ceph_salt/execute.py#L367

[2020-08-25 16:37] ricardoasmarques commented on #336
Relates to https://github.com/ceph/ceph-salt/issues/148

[2020-08-25 16:49] smithfarm commented on #148
As proven by #338 this statement ("ceph-salt "tox -e lint" broken for python 3.8") no longer holds true.

[2020-08-25 16:49] #148 closed, assigned to nobody

[2020-08-26 10:49] smithfarm commented on #342
Good idea! I opened https://github.com/ceph/ceph-salt/pull/344

[2020-08-26 10:50] #342 closed, assigned to nobody

[2020-08-26 12:24] ricardoasmarques opened #346 "Do not redirect 'bootstrap' output to a file"
With https://github.com/ceph/ceph/pull/36766 cephadm will log to a file which has the same name uised in ceph-salt [1].

We should consider removing this redirect from ceph-salt (if possible) or, at least, rename it.

[1] https://github.com/ceph/ceph-salt/blob/master/ceph-salt-formula/salt/ceph-salt/apply/cephbootstrap.sls#L84

[2020-08-26 13:33] smithfarm commented on #346
As I wrote at https://github.com/ceph/ceph/pull/36766#issuecomment-680882277 `cephadm` still contains `print` statements that aren't logged. I don't think we should stop redirecting the output to a file as long as this is the case.

[2020-08-26 14:05] sebastian-philipp opened #347 "cephadm bootstrap --container-init"
https://github.com/ceph/ceph/pull/36822

We have to make sure:

* catatonit is installed
* it actually works
* call `cephadm boostrap --container-init` to enable this.

[2020-08-26 14:37] #327 closed, assigned to smithfarm

[2020-08-26 19:01] smithfarm commented on #347
. . . in the container image (I'm guessing)

[2020-08-26 19:59] sebastian-philipp commented on #347
nonono on the host. that#s the point

[2020-08-27 08:15] #326 closed, assigned to ricardoasmarques

[2020-08-27 08:26] #336 closed, assigned to nobody

[2020-08-27 08:27] #335 closed, assigned to nobody

[2020-08-28 12:51] smithfarm opened #350 ""ceph-salt purge" should also purge ceph base container image from the cluster nodes"
When the Ceph cluster is bootstrapped (`ceph-salt apply`), the ceph base container image is pre-downloaded to all the nodes.

As a user, when I run `ceph-salt purge`, my expectation is that not only will the Ceph cluster go away, but also any artifacts that `ceph-salt` downloaded to the nodes will also be cleared.

[2020-09-01 11:30] smithfarm commented on #331
WIP branch: https://github.com/smithfarm/ceph-salt/commits/wip-331

[2020-09-01 18:02] smithfarm commented on #328
wip branch: https://github.com/smithfarm/ceph-salt/commits/wip-328

[2020-09-02 08:14] ricardoasmarques opened #357 "Always use SSH 'cephadm' user"
SSH should not be configurable in `ceph-salt config`, instead, we should always use the 'cephadm' user.

[2020-09-02 08:17] ricardoasmarques opened #358 "Do not restart 'salt-master'"
ATM, `ceph-salt apply` is restarting `salt-master` service is `ceph-salt` formula is not found.

We should not restart the service without user confirmation because that may interrupt "non-ceph-salt" jobs that are already running.

[2020-09-02 08:20] ricardoasmarques commented on #314
Fixed by https://github.com/ceph/ceph-salt/pull/329

[2020-09-02 08:20] #314 closed, assigned to swiftgist

[2020-09-02 08:22] ricardoasmarques commented on #320
Backport has been merged https://github.com/ceph/ceph/pull/36748

[2020-09-02 08:23] #320 closed, assigned to nobody

[2020-09-02 08:25] ricardoasmarques commented on #215
@smithfarm Agree, "service spec" must be provided via `cephadm` directly, not via `ceph-salt`.

[2020-09-02 08:25] #215 closed, assigned to nobody

[2020-09-02 08:35] sebastian-philipp commented on #215
That sounds a bit strange as an explanation.

Still. +1 for closing this here.

[2020-09-02 09:17] ricardoasmarques opened #359 "Orchestrated shutdown of the whole cluster"
The idea is to have a `ceph-salt shutdown` command to shutdown ceph cluster.

[code]

We may need a `ceph-salt startup` to start the cluster again.

See https://ceph.io/planet/how-to-do-a-ceph-cluster-maintenance-shutdown/ for more information.

[2020-09-02 09:19] sebastian-philipp commented on #359
rethinking this: `ceph orch stop osd` might not work. The idea is to prevent any destructive calls in cephadm. and  `ceph orch stop osd` is exactly that: destructive.

Which means we'd need to build some bypass if we need to call this.

[2020-09-02 10:04] #331 closed, assigned to smithfarm

[2020-09-02 11:44] ricardoasmarques opened #360 "Salt module for SSH executions"
The following code is duplicated in a bunch of places:

[code]

We could implement a salt module to perform ssh executions, and have this code on a single place.

[2020-09-02 14:28] #191 closed, assigned to ricardoasmarques

[2020-09-02 15:35] #328 closed, assigned to smithfarm

[2020-09-02 15:35] #260 closed, assigned to smithfarm

[2020-09-02 16:19] ricardoasmarques opened #362 "Use same SSH config that is used by cephadm"
`ceph-salt` should use the same SSH config used by `cephadm`: https://github.com/ceph/ceph/blob/master/src/pybind/mgr/cephadm/module.py#L76-L82

[2020-09-03 12:23] sebastian-philipp commented on #237
https://tracker.ceph.com/issues/47286

[2020-09-03 12:38] ricardoasmarques commented on #340
This is a duplicate of https://github.com/ceph/ceph-salt/issues/213

[2020-09-03 12:38] #340 closed, assigned to nobody

[2020-09-03 15:21] #357 closed, assigned to ricardoasmarques

[2020-09-03 15:21] #360 closed, assigned to ricardoasmarques

[2020-09-03 15:21] #362 closed, assigned to ricardoasmarques

[2020-09-03 15:28] smithfarm opened #365 "What if humans want to use the "cephadm" user to administer their Ceph cluster?"
At present, we know that:

1. mgr/cephadm (the "cephadm orchestrator"), running on a MGR node, uses SSH to run commands on other cluster nodes managed by it
2. ceph-salt is now configuring mgr/cephadm to SSH to other nodes as the user `cephadm`
3. the user `cephadm` can use `sudo` to run certain commands as `root`

It occurred to me that human administrators might not want to be logged in as `root

[2020-09-03 15:56] ricardoasmarques opened #366 "Adding a new minion should set 'cephadm' role by default"
When a new minion is added, that minion should automatically receive the 'cephadm' role by default.

[2020-09-03 16:50] smithfarm commented on #365
@Martin-Weiss Any thoughts on this?

[2020-09-04 06:40] Martin-Weiss commented on #365
I see two things - on one hand we want a standardized user for cephadm and ceph-salt to be used (service user) and I would vote to call this user cephadm. Admins can also use this user with "su" and in this case - yes - the user cephadm should also be able to read the admin keyring.

On the other hand customers need personalized administration with auditing and logging so that someone can find out

[2020-09-04 09:04] ricardoasmarques opened #368 "'ceph-salt config' if 'pgrep' is not available"
[code]

[2020-09-04 09:09] ricardoasmarques opened #369 "'ceph-salt apply' looks strange with special characters if terminal is NOT in UTF-8"
**i.e. ISO-8859-1:1998 (Latin-1, West Europe):**

![image2020-7-29_15-27-57](https://user-images.githubusercontent.com/14297426/92222277-ab9e3a00-ee96-11ea-855b-43fcae549b0d.png)

[2020-09-04 10:28] ricardoasmarques opened #370 "set global container_image ceph config"
If bootstrap is not specified (e.g. upgrade scenario), ceph-salt must set ceph container_image:

[code]

[2020-09-04 10:33] ricardoasmarques opened #371 "Only enable 'registries_conf' when configuration is specified"
Do not have registries_conf enabled as long as the customer did not specify any configuration for that

[2020-09-04 10:36] ricardoasmarques commented on #272
Or we should consider removing this requirement, and don't force the `bootstrap minion` to be `admin`.

[2020-09-04 10:46] smithfarm commented on #365
If the admin keyring is to be readable by the user `cephadm` (and I agree with @Martin-Weiss that is should be), then the ownership/permissions would need to be set that way by `cephadm` itself when it creates the admin keyring file.

@sebastian-philipp Your thoughts on this?

[2020-09-04 11:03] ricardoasmarques commented on #369
I suggest to use "basic" chars:

- `/ - | \` for animation, `done`, `warn`, and `fail`

Also, ~~increase~~ decrease the refresh rate to reduce "flickering".

[2020-09-04 11:03] smithfarm commented on #365
What this boils down to is:

1. when users see a user called "cephadm" they will think "Ceph admin account" and want to use it for Ceph administration
2. yet, if admin keyring is owned by root with permissions 0600, they cannot
3. not being able to makes no sense and causes frustration

[2020-09-04 11:06] smithfarm commented on #369
Keep in mind that users may be running `ceph-salt apply` over an SSH connection.

[2020-09-04 11:12] smithfarm opened #372 "Missing sanity check: user "cephadm" must exist on all minions that have cephadm role"
Although the act of installing the `cephadm` package can be expected to create the `cephadm` user, this does not give us 100% certitude that the `cephadm` user will exist on all nodes where we expect it to. Users might delete the `cephadm` user, for example.

[2020-09-04 11:35] sebastian-philipp commented on #365
would extending

https://github.com/ceph/ceph/blob/b5e47e7bfaa4717cee5b808546260b9484c585ae/src/cephadm/cephadm#L2840-L2845

with something like

[code]

work?

[2020-09-04 11:41] smithfarm commented on #365
@sebastian-philipp To me it looks like that would do the trick. @ricardoasmarques ?

[2020-09-04 14:40] ricardoasmarques commented on #365
I haven't tested, but I think so too.

[2020-09-04 15:09] #208 closed, assigned to smithfarm

[2020-09-08 07:12] smithfarm commented on #366
If every node is going to get the role, what is the purpose of having the role in the first place?

Is there a use case for removing the `cephadm` role from a minion?

[2020-09-08 14:56] smithfarm opened #375 "ceph-salt appears to be broken on Tumbleweed"
Reproducer:

[code]

Fails with:

[code]

[2020-09-08 15:17] ricardoasmarques commented on #369
I wanted to say, "reduce the refresh rate"

[2020-09-08 15:55] ricardoasmarques opened #377 "Remove all minion roles when minion is removed"
ceph-salt should automatically remove all minion roles when a minion is removed from `/ceph_cluster/minions`.

[2020-09-08 17:02] smithfarm commented on #375
I gleaned some further bits of information:

1. pipdeptree shows where the `msgpack!=0.5.5,<1.0.0,>=0.5` requirement is coming from:

[code]

2. the failure only happens when ceph-salt is installed from RPM, because (on Tumbleweed):

[code]

(1.0.0 does not satisfy the version restriction `!=0.5.5,<1.0.0,>=0.5`)

So this appears to be a salt packaging bug. To report the bug, I'll probably need a m

[2020-09-08 17:58] smithfarm commented on #375
This appears to be a packaging bug in salt. I opened a Bugzilla:

https://bugzilla.opensuse.org/show_bug.cgi?id=1176293

[2020-09-08 18:19] smithfarm opened #378 "In Tumbleweed, multiple ceph-salt commands display a warning"
Reproducer:

[code]

Symptom:

Commands display DeprecationWarning:

[code]

Excerpt from reproducer output showing the warning:

[code]

[2020-09-08 18:21] smithfarm commented on #378
Presumably another salt packaging bug.

[2020-09-08 18:25] smithfarm opened #379 "Run "ceph-salt apply" sanity/pre-flight checks in "ceph-salt status" as well?"
Currently `ceph-salt status` checks that the configuration entered by the user is internally coherent, and `ceph-salt apply` checks the actual nodes for problematic states that are known to make `ceph-salt apply` fail.

I can imagine that users might experience consternation if they (1) run `ceph-salt status` and see OK, (2) run `ceph-salt apply` and it fails in the sanity/pre-flight checks.

Woul

[2020-09-08 20:17] ricardoasmarques commented on #372
This can only happen on `ceph-salt status`, because on `ceph-salt apply`/`update`/`reboot` the `cephadm` user will be recreated.

Relates to https://github.com/ceph/ceph-salt/issues/379

[2020-09-08 20:19] ricardoasmarques commented on #379
Agree. When I see `ceph-salt status` returning `OK`, I'm expecting that `ceph-salt apply` will work.

[2020-09-09 08:38] sebastian-philipp commented on #369
do we really need to care about non utf-8 at this point? where did it appear?

[2020-09-09 08:39] sebastian-philipp commented on #300
can we close this?

[2020-09-09 08:41] sebastian-philipp commented on #280
close`

[2020-09-09 08:45] LenzGr commented on #272
FWIW I'd be in favor to decouple this as well. In my case, I would like to have on central node to SSH into if necessary, which also acts as the Salt Master node. While the bootstrap minion acts as the "initial seed node", it may not necessarily be the node used for regular admin work.

[2020-09-09 08:50] sebastian-philipp commented on #135
Please reopen, if someone sees this again.

[2020-09-09 08:50] #135 closed, assigned to nobody

[2020-09-09 08:51] sebastian-philipp commented on #104
can we close this?

[2020-09-09 08:55] sebastian-philipp commented on #350
as we no longer download the image on all hosts in ceph-salt, I'd be :+1: to close this for now

[2020-09-09 11:23] smithfarm commented on #300
@sebastian-philipp This is tracking https://jira.suse.com/browse/SES-2017 for purposes of ceph-salt. Has something changed in https://jira.suse.com/browse/SES-2017 ?

[2020-09-09 11:38] LenzGr commented on #272
Is this related to #252 by any chance?

[2020-09-09 11:42] LenzGr opened #381 ""ceph-salt update" should indicate what packages have been updated"
When running `ceph-salt update`, I do see that the update process is ongoing and eventually finishes:

![Screenshot from 2020-09-09 13-31-18](https://user-images.githubusercontent.com/263427/92593989-9d369080-f291-11ea-97e0-e815a8c10690.png)

However, I do not see a summary of what packages have actually been updated/installed. I can glean that information from the log file `/var/log/ceph-salt.log

[2020-09-09 11:50] LenzGr commented on #19
FYI, https://tracker.ceph.com/issues/45016 has been resolved in the meanwhile. Removing the "blocked-by-cephadm" label.

[2020-09-09 11:54] LenzGr commented on #369
Reducing priority. By now, most terminals should be using UTF-8 by default, but it would of course still be useful to gracefully fall back to less confusing characters.

[2020-09-09 13:06] smithfarm commented on #350
OK, so the argument is "ceph-salt doesn't download the container image, therefore `ceph-salt purge` should not remove it", but does that really stand up? If I'm not mistaken, `ceph-salt purge` removes other things that are created by cephadm. So why not remove the container images as well?

I'd like to make `ceph-salt purge` as useful as possible for users. As a user, when I see the word "purge",

[2020-09-09 13:32] LenzGr commented on #341
Sadly, the [Salt Zypper module](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.zypperpkg.html) does not seem to support this natively, so this would have to be implemented differently.

[2020-09-09 13:37] smithfarm commented on #341
Right. This will be implemented by running `zypper ps` and grepping the output for the string "No processes using deleted files found". (We are already using this in `ceph-salt reboot` and `ceph-salt update --reboot` to determine whether nodes need to be rebooted.)

[2020-09-09 15:54] ricardoasmarques commented on #252
The "drain" PR was closed https://github.com/ceph/ceph/pull/34617 so we need to find a different solution

[2020-09-10 08:22] ricardoasmarques commented on #366
Scenarios where you want to "not set cephadm" role:
- if you want ceph-salt to configure a timeserver, but you don't want ceph daemons running on that server
- if you want a separate admin node (will only be possible after implementing https://github.com/ceph/ceph-salt/issues/252)

[2020-09-10 08:23] ricardoasmarques commented on #366
An alternative solution would be to "invert" the `cephadm` role, by renaming it to `non-cephadm`, and only set that role to nodes where we don't want ceph daemons running.

[2020-09-10 10:25] smithfarm commented on #366
maybe, instead of having a "cephadm" role, there could be a pillar config parameter called "NoCephadm" which would take a list of minions that are **not** to be managed by cephadm.

(I guess this is the same as the "non-cephadm" role you proposed - so :+1: from my side)

[2020-09-10 14:13] smithfarm commented on #359
The blog post says to stop services in the following order:

1. gateways
2. osds
3. mons/mgrs

It seems reasonable to start them in the reverse order.

[2020-09-10 14:17] smithfarm commented on #359
There's another aspect to this:

The process of taking a cluster down is often combined with powering down the hardware. As @sebastian-philipp 's comment implies, it's a sensitive operation. I wonder whether `ceph-salt` really needs to be in the business of shutting down clusters and bringing them up again?

[2020-09-10 14:21] sebastian-philipp commented on #370
1. if you run `ceph orch upgrade start --image ...` this is already done at the end of the upgrade process.
2. if you upgrade from before cephadm, ceph-salt is not really doing anything with the image, except forwarding it to cephadm.

[2020-09-10 14:21] sebastian-philipp commented on #370
wontfix?

[2020-09-10 14:24] sebastian-philipp commented on #252
indeed

[2020-09-10 14:26] sebastian-philipp commented on #252
right now, there is no way to mark a host as ["unschedulable"](https://kubernetes.io/docs/concepts/architecture/nodes/#manual-node-administration) for new daemons. That might be enough for. Like a drain-light feature

[2020-09-10 17:00] ricardoasmarques commented on #370
Well, since we are now using the image only on the bootstrap minion, I wonder if we should move `/containers/image/ceph` to `/cephadm_bootstrap/image`, to make it clear that changing it after day 1 will have no effect.

[2020-09-10 21:53] #370 closed, assigned to nobody

[2020-09-10 22:31] #272 closed, assigned to nobody

[2020-09-10 22:47] ricardoasmarques opened #388 "'ceph-salt status' failing on fresh install"
On a fresh install, I get the following error:

[code]

After running `salt \* saltutil.sync_all`, it works:
[code]

Shouldn't `ceph-salt status` automatically run `saltutil.sync_all` like in `ceph-salt apply`?

[2020-09-10 23:00] ricardoasmarques commented on #366
I understand the benefit of assuming that by default, all minions will be added to  `cephadm`, and then having a role to exclude some minions (which is the exception).

But on the other hand, I feel hesitant to introduce a role that is a negation of something.

I believe it's more natural to read that `if minion has role X, then Y will be done`, instead of `if minion has role X, then Y will NOT be

[2020-09-10 23:00] #366 closed, assigned to nobody

[2020-09-11 00:03] ricardoasmarques commented on #368
`procps` is already included in the spec file, so this issue should not happen:
https://github.com/ceph/ceph-salt/blob/master/ceph-salt.spec#L63

[2020-09-11 00:03] #368 closed, assigned to nobody

[2020-09-11 00:10] ricardoasmarques opened #389 "'ceph-salt apply' failing on fresh install"
[code]

[2020-09-11 08:32] #389 closed, assigned to ricardoasmarques

[2020-09-11 10:04] ricardoasmarques commented on #300
Per our discussion, all we have to do here is call:

[code]

[2020-09-11 10:07] ricardoasmarques commented on #280
Closing as a duplicate of https://github.com/ceph/ceph-salt/issues/300

[2020-09-11 10:07] #280 closed, assigned to nobody

[2020-09-11 10:08] ricardoasmarques commented on #300
We can do it here: https://github.com/ceph/ceph-salt/blob/master/ceph-salt-formula/salt/ceph-salt/apply/ceph-admin.sls#L18

[2020-09-11 10:41] smithfarm commented on #300
We can only do that once  https://github.com/ceph/ceph/pull/36432 has been backported to octopus and included in a SES7 ceph build, right?

[2020-09-11 10:47] ricardoasmarques commented on #347
https://github.com/ceph/ceph/pull/36822 has been merged

[2020-09-11 11:26] #388 closed, assigned to ricardoasmarques

[2020-09-11 13:35] ricardoasmarques commented on #346
https://github.com/ceph/ceph/pull/36766 has been merged

[2020-09-11 14:58] #358 closed, assigned to ricardoasmarques

[2020-09-12 07:03] smithfarm opened #393 "First-time invocation of "ceph-salt config" displays warnings that might cause user discomfort"
The first time someone invokes `ceph-salt config` after installing `ceph-salt`, two warnings are displayed on the screen:

[code]

Second time, warnings are gone:

[code]

ceph-salt version is:

[code]

(This is only a cosmetic issue, but it's likely that users faced with these warnings will think there is some kind of problem with their ceph-salt installation.)

[2020-09-12 07:31] smithfarm opened #394 "Detect network flakiness before applying the Salt Formula"
`ceph-salt apply` is known to fail in odd ways when running in an environment with poor network connectivity. These failures can be especially vexxing if the network connections are flakey - i.e., they succeed on some attempts, and fail on others. In such cases, a user might reasonably think that the failure is due to a bug in ceph-salt.

For example:

* when an external time server is configured,

[2020-09-12 07:33] smithfarm commented on #394
When I ssh into the cluster, the `podman pull` command completes without issue:

[code]

Maybe it was due to a transient state in the registry.

[2020-09-12 14:11] smithfarm commented on #394
Idea: ping a remote server for a short time (e.g., 30 seconds) and measure packet loss.

CAVEAT: it is possible to configure ceph-salt in such a way that it does not initiate **any** communication with remote servers:

* time server is local
* container image path points to local registry
* zypper repos are local

In such a case, it would be wrong to try to ping a remote server. So this test shoul

[2020-09-14 12:22] smithfarm commented on #379
We agreed that:

1. `ceph-salt apply` sanity checks should be expanded to include the checks currently being done by `ceph-salt status`
2. `ceph-salt status` should be re-implemented as a "dry run" of `ceph-salt apply` (do everything up to, but not including applying the Salt Formula)

[2020-09-17 10:19] ricardoasmarques commented on #333
Since https://github.com/ceph/ceph-salt/pull/392 `ceph-salt` will no longer restart `salt-master` without user confirmation, so this issue is now fixed.

[2020-09-17 10:19] #333 closed, assigned to nobody

[2020-09-17 15:58] ricardoasmarques commented on #19
I was able to deploy an IPv6 cluster by using the following `sesdev` PR, so this issue can now be closed: https://github.com/SUSE/sesdev/pull/56

[2020-09-17 15:58] #19 closed, assigned to ricardoasmarques

[2020-09-18 14:38] ricardoasmarques commented on #359
This is indeed a very sensitive operation, and `ceph-salt` don't know where gateways/osds/mons/... are deployed to stop services on the correct order.

I believe it's not clear ATM if this should be implemented in `ceph-salt` or `cephadm` itself.

Due to the above reasons plus the risk of supporting a feature like this, I'm closing this issue until really needed.

[2020-09-18 15:28] ricardoasmarques commented on #359
I've now learned that part of the `shutdown` / `startup` process is implemented in Deepsea, so we will need a similar implementation for "feature parity":

- https://github.com/SUSE/DeepSea/tree/99f5e23248cef9299d983a2fa2da4699aaa16eff/srv/salt/ceph/shutdown
- https://github.com/SUSE/DeepSea/tree/99f5e23248cef9299d983a2fa2da4699aaa16eff/srv/salt/ceph/startup

[2020-09-18 15:42] ricardoasmarques commented on #359
Perhaps, `ceph-salt` can use `ceph orch service stop <service>` to stop all daemons of a service

[2020-09-21 12:14] #393 closed, assigned to ricardoasmarques

[2020-09-21 12:18] #346 closed, assigned to ricardoasmarques

[2020-09-21 14:37] ricardoasmarques opened #402 "Validate duplicated registries"
Add validation to check if a registry is defined multiple times.

How to reproduce:

[code]

[2020-09-22 23:21] ricardoasmarques commented on #172
`ceph-salt apply` is idempotent, there's no need for a preview ATM.

[2020-09-22 23:21] #172 closed, assigned to nobody

[2020-09-23 08:25] jan--f opened #405 "ceph-salt status ignores mon_ip: None"
[code]

[2020-09-23 08:49] smithfarm opened #406 "Force user to populate "/cephadm_bootstrap/mon_ip" with a real IP address"
(Please correct me if I'm wrong about any of this!)

When the user leaves `/cephadm_bootstrap/mon_ip` unset, ceph-salt's current behavior is to randomly choose one of the IP addresses of the bootstrap node, and provide that to `cephadm bootstrap` (which does require an explicit `--mon-ip` option).

This is wrong, because it enables the user to easily overlook that the setting of `/cephadm_bootstra

[2020-09-23 10:37] #261 closed, assigned to ricardoasmarques

[2020-09-23 10:39] ricardoasmarques commented on #405
Related to: https://github.com/ceph/ceph-salt/issues/261
Fixed on: https://github.com/ceph/ceph-salt/pull/401

[2020-09-23 10:39] #405 closed, assigned to nobody

[2020-09-23 11:39] #402 closed, assigned to nobody

[2020-09-23 13:53] ricardoasmarques opened #409 "'ceph-salt <command>' hangs if cluster is deployed but not running"
How to reproduce

[code]

(This happens because `ceph ...` command hangs)

[2020-09-23 14:00] ricardoasmarques opened #410 "Unable to apply config without 'mon_ip' on deployed cluster"
The `/cephadm_bootstrap/mon_ip` option is only used for initial deployment, and after that is no longer needed.

But I'm getting an error when trying to execute `ceph-salt apply` without `/cephadm_bootstrap/mon_ip`:

[code]

**Workaround:** Set `mon_ip` or remove the `bootstrap minion`

[2020-09-23 19:53] ricardoasmarques commented on #372
Note that ceph-salt **explicitly** creates the `cephadm` user [1], which means it will be recreated, if needed, everytime `cephadm apply` is executed.`

I don't see a reason to add this check, so I'm now closing the issue.

Feel free to reopen it if I'm missing something.

[1] https://github.com/ceph/ceph-salt/blob/master/ceph-salt-formula/salt/ceph-salt/common/sshkey.sls#L9-L15

[2020-09-23 19:53] #372 closed, assigned to smithfarm

[2020-09-23 20:36] ricardoasmarques commented on #241
I wonder if time sync is taking so long because a "misconfigured" chronyd was already running before `ceph-salt apply` execution, and `ceph-salt apply` didn't restarted the service to reload the new  `/etc/chrony.conf` writen by `ceph-salt`.

If this was the case, the following PR fixes the issue: https://github.com/ceph/ceph-salt/pull/407

Closing the issue for now, feel free to reopen if problem

[2020-09-23 20:36] #241 closed, assigned to nobody

[2020-09-23 20:39] ricardoasmarques commented on #116
Related to https://github.com/ceph/ceph-salt/issues/294

[2020-09-23 20:45] ricardoasmarques commented on #104
I was not able to reproduce this issue.

One situation where `ceph-salt` commands will hang is when ceph cluster is stoped, and that situation is tracked on a separate issue: https://github.com/ceph/ceph-salt/issues/409

If there's any other situation where a timeout is still mission feel free to reopen or submit a separate issue for that.

[2020-09-23 20:45] #104 closed, assigned to nobody

[2020-09-23 20:52] ricardoasmarques commented on #79
Closing as a duplicate of https://github.com/ceph/ceph-salt/issues/296

[2020-09-23 20:52] #79 closed, assigned to nobody

[2020-09-23 21:15] ricardoasmarques commented on #304
@smithfarm  Since https://github.com/ceph/ceph-salt/pull/244 `ceph-salt` is creating the `/var/log/journal` directory, isn't it sufficient for SLE where `storage=auto`? Or the motivation for this issue is to persist logs also on systems where `storage=auto` is not the default setting?

[2020-09-23 22:02] ricardoasmarques commented on #375
It's working now:

[code]

[2020-09-23 22:02] #375 closed, assigned to nobody

[2020-09-24 08:25] smithfarm commented on #304
@ricardoasmarques On my systems, I set `storage=persistent`. But I guess this should be left to the users. So I think we are doing the right thing by (1) not touching the configuration file, and (2) creating the directory if it doesn't exist.

[2020-09-24 08:25] #304 closed, assigned to nobody

[2020-09-24 11:58] smithfarm commented on #410
I guess `ceph-salt apply` should determine whether a cluster has been deployed or not, and if yes, then avoid running the cephbootstrap.sls at all.

[2020-09-24 12:25] smithfarm commented on #365
https://github.com/ceph/ceph/pull/37393 is open to address the issue in cephadm as suggested by @sebastian-philipp

[2020-09-25 09:02] #359 closed, assigned to ricardoasmarques

[2020-09-25 09:55] #266 closed, assigned to ricardoasmarques

[2020-09-28 09:57] #300 closed, assigned to ricardoasmarques

[2020-09-28 11:59] LenzGr opened #412 "Add a `poweroff` option to `ceph-salt stop` to optionally power off cluster nodes"
Thanks for implementing #404 - this is a very useful feature. I wonder if it would make sense to have an option for the administrator to issue a `poweroff` command after the successful cluster shutdown as well? Or should we just document how this could be done via plain `salt` commands?

[2020-09-30 10:41] jan--f opened #413 "ceph-salt issues invalid ceph command"
[code]

[2020-09-30 11:51] ricardoasmarques commented on #413
This failure happens because you are using `15.2.0.108` and `cephadm set-priv-key ` was only introduced on `v15.2.3-204-g0fcd99f277c`.

I'm closing this issue because ATM, `ceph-salt` requires the latest octopus release to be used.

[2020-09-30 11:51] #413 closed, assigned to nobody

[2020-09-30 13:43] smithfarm opened #414 "No manual entry for ceph-salt"
[code]

[2020-09-30 14:13] ricardoasmarques commented on #414
Duplicate of https://github.com/ceph/ceph-salt/issues/279

[2020-09-30 14:13] #414 closed, assigned to nobody

[2020-10-02 16:21] smithfarm opened #416 "Setting pillar_root to `/usr/share/ceph-salt/pillar` breaks ceph-salt"
/etc/salt/master has the following contents

[code]

ceph-salt is installed from RPM, version is:

[code]

The directory exists and within it ceph-salt.sls:

[code]

The contents of `/usr/share/ceph-salt/pillar/ceph-salt.sls` are from ceph-salt.spec:

[code]

Invocation of `ceph-salt config` fails like this:

[code]

[2020-10-02 16:24] smithfarm commented on #416
Ah, invalid. The correct way to set it is:

[code]

[2020-10-02 16:24] #416 closed, assigned to nobody

[2020-10-02 18:36] swiftgist opened #417 "hostnames cannot be fqdn"
This isn't a feature request, but more for information and tracking.  Possibly the README should say that `hostnamectl fqdn` is not supported or add a validation.

Here's the behavior: I use vagrant for 14 VMs.  With other recent changes, I've had an issue where my hostnames were not resolving from dnsmasq and were assigned ip addresses as hostnames.  So, I used `hostnamectl fqdn` as part of the s

[2020-10-02 23:40] smithfarm opened #420 "ceph-salt cannot bootstrap a Ceph cluster in FQDN environments"
### What do I mean by "FQDN environments"

In accordance with https://docs.ceph.com/en/latest/cephadm/concepts/#fully-qualified-domain-names-vs-bare-host-names

a "FQDN environment" is an environment where:

* `hostname` returns the FQDN
* `hostname -s` returns the short ("bare") hostname

### Why do FQDN environments need to be supported

While there certainly are customer environments where all

[2020-10-02 23:47] smithfarm commented on #417
@swiftgist Were the code changes you made to get `ceph-salt apply` to complete similar to these:

https://github.com/ceph/ceph-salt/pull/419

or different?

With #419 `ceph-salt apply` completed successfully for me in a FQDN environment. But of course #419 is not mergeable in its current form - see #420 for an explanation.

[2020-10-06 15:11] smithfarm opened #424 "Do we need to do something about these tox warnings?"
[code]

[2020-10-07 05:51] smithfarm opened #426 "ceph-salt lets user configure only one internal time source. This then becomes a single source of failure."
The ceph-salt documentation says:

    If your site already has a single source of time, specify the host name of the time source:

    ceph-salt config /time_server/server_hostname set time-server.example.com

But the SES6 Admin Guide says:

"We recommend synchronizing all Ceph cluster nodes with **at least three** reliable time sources that are located on the internal network. The internal time

[2020-10-07 12:55] #417 closed, assigned to nobody

[2020-10-07 12:55] #420 closed, assigned to smithfarm

[2020-10-07 15:46] ricardoasmarques opened #427 "'ceph-salt' should require the correct 'ceph-salt-formula' version"
We already have `Requires: ceph-salt-formula` on `ceph-salt.spec`, but ideally we should have:

[code]

[2020-10-07 15:46] ricardoasmarques commented on #427
@smithfarm do you know if this is possible to implement?

[2020-10-07 15:56] #347 closed, assigned to ricardoasmarques

[2020-10-13 19:36] smithfarm commented on #12
What cephadm is doing with AppArmor? It's definitely doing *something*:

[code]

[2020-10-13 19:37] smithfarm commented on #12
https://github.com/SUSE/ceph/pull/417 is open to revert https://github.com/ceph/ceph/pull/33850 in SES7

Once we have a build in `filesystems:ceph:octopus`, it should be possible for ceph-salt to bootstrap a single-node cluster with no AppArmor on it anywhere. I'll verify this.

[2020-10-13 22:24] ricardoasmarques opened #434 "Update ceph-salt pillar example"
When `ceph-salt-formula` is installed, a `pillar.example` file is created, but this example is outdated/incomplete so it needs to be updated:
[code]

[2020-10-13 22:52] ricardoasmarques opened #435 "Do we really need ceph-salt grains?"
(Relying on the pillar is more secure because only the master node can set it)

For ceph-salt minions targetting, we can use pillar:

[code]

instead of grain:

[code]

So, apart from `ceph-salt:execution` grains that are set during execution for orchestration, do we really need any other `ceph-salt` grains?

(AFAIK, Suse Manager doesn't support grains)

[2020-10-13 22:55] ricardoasmarques commented on #435
I think we still need grains when we want to target minion by role, for instance:

[code]

[2020-10-14 19:21] smithfarm commented on #12
Turns out the only way to disable AppArmor completely is to add `apparmor=0` to the kernel command line. But it's not easy to make a libvirt VM boot up with a modified kernel commandline. Actually, the only reasonable way is to boot it, modify the GRUB config, and then reboot.

Not sure how relevant this is, but I thought I'd mention it. For details, see:

* https://github.com/SUSE/sesdev/issues/1

[2020-10-14 19:23] smithfarm commented on #12
@ricardoasmarques @tserong @jan--f Given that `ceph-salt apply` tries its best to disable AppArmor, although it does not succeed completely, it looks like there's a good chance that, in a SES6 -> SES7 upgrade scenario, it will remove the AppArmor profiles installed by DeepSea. I guess that's the intention, right? We're assuming the unmodified SES6 profiles would not work correctly with the SES7 da

[2020-10-14 19:24] smithfarm commented on #12
What if a user has some other (non-SES-related) production AppArmor profiles on their nodes? Won't `ceph-salt apply` interfere with those?

[2020-10-14 19:26] smithfarm opened #436 "ceph-salt apply interferes with user's AppArmor profiles?"
What if a user has some other (non-SES-related) production AppArmor profiles on their nodes? Won't ceph-salt apply interfere with those?

[2020-10-20 08:52] #426 closed, assigned to ricardoasmarques

[2020-10-28 16:22] tirkarthi commented on #424
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/ . They might be made syntax warnings in future.

[2020-10-29 09:19] #279 closed, assigned to ricardoasmarques

[2020-11-24 09:48] ricardoasmarques commented on #286
Required https://github.com/ceph/ceph/pull/37740, see https://github.com/ceph/ceph-salt/pull/292.

[2020-11-26 10:23] sebastian-philipp commented on #427
Yeah, with something similar to

https://github.com/ceph/ceph/blob/cc16516fd851ee9b8175fee18435a9b8b507bf77/ceph.spec.in#L356

[2020-11-26 10:27] sebastian-philipp commented on #378
https://github.com/saltstack/salt/issues/57014

[2020-11-26 10:27] #378 closed, assigned to nobody

[2020-11-26 10:33] sebastian-philipp commented on #350
There is another reason to not delete images on `purge`: it slows down cluster deployment. I'd be really careful deleting images. IMO cephadm is the only component that can reasonably clean up images.

Please reopen this, if you think this is still a good enhancement.

[2020-11-26 10:33] #350 closed, assigned to nobody

[2020-11-26 10:35] sebastian-philipp commented on #341
Working around issues of the Salt Zypper module seems strange to me.

[2020-11-26 10:35] #334 closed, assigned to nobody

[2020-11-26 10:38] sebastian-philipp commented on #330
moved upstream: https://tracker.ceph.com/issues/48368

[2020-11-26 10:38] #330 closed, assigned to nobody

[2020-11-26 10:40] sebastian-philipp commented on #289
`jq -r '.private_key' ceph-salt_config.yaml`?

[2020-11-26 10:44] sebastian-philipp commented on #213
properly formatted:

[code]

[2020-11-26 10:45] smithfarm commented on #341
Sounds like you haven't had the honor of working with this module before :-)

[2020-11-26 10:47] sebastian-philipp commented on #286
close this for now. Please reopen, if you think this is still valid.

[2020-11-26 10:47] #286 closed, assigned to nobody

[2020-11-26 10:47] smithfarm commented on #213
More fun with the Salt Zypper module!

[2020-11-26 10:49] #204 closed, assigned to nobody

[2020-11-26 10:49] #197 closed, assigned to nobody

[2020-11-26 10:52] sebastian-philipp commented on #180
please reopen, if still reproducible.

[2020-11-26 10:52] #180 closed, assigned to nobody

[2020-11-26 10:55] sebastian-philipp commented on #86
please reopen, if this is still reproducible

[2020-11-26 10:55] #86 closed, assigned to nobody

[2020-11-26 11:00] sebastian-philipp commented on #341
haha, not yet :smile:

[2020-12-02 15:17] nistiwar commented on #196
In my case, there was no reboot required during ceph-salt update.However, when applying the configuration, it is stuck at "Find an admin host" for all the cluster nodes, including the admin node itself. Its been more than 35 minutes in the same state. Should the admin node minion not go under cephadm ?

[2020-12-04 12:50] nistiwar opened #443 "ceph-salt apply to bootstrap ceph cluster fails waiting for admin node"
While bootstrap the minimal cluster using-
ceph-salt apply

times out waiting for admin node by all the cluster nodes..Logs:

[code]

I think it is calling ceph_orch.set_admin_host which is not an available function in module ceph_orch.

[code]
[code]
[code]

I am trying to build a production cluster and am stuck at bootstrapping using ceph-salt all nodes wait for admin node for around 30 minutes

[2020-12-04 13:09] smithfarm commented on #443
@nistiwar Which OS is your Salt cluster running on?

[2020-12-04 13:17] smithfarm commented on #443
[code]

Hm, though I have never used `sys.list_functions`, it would appear to work only on Salt Modules. In this case, it is showing you the functions in `ceph-salt-formula/salt/_modules/ceph_orch.py`. The function `set_admin_host` resides in a completely different file within the Salt Formula: `ceph-salt-formula/salt/_states/ceph_orch.py`.

[2020-12-04 14:22] nistiwar commented on #443
Its SLES15SP2 + SES7

[2020-12-04 20:20] sebastian-philipp commented on #443
https://github.com/SUSE/doc-ses/issues/814

[2020-12-07 11:22] nistiwar commented on #443
I guess I understand now what is going wrong. So basically apart from ceph public and ceph cluster network, all our machines are also also connected to a operations and maintenance network which is also the default route to internet. When we deploy ceph, the bootstrap node's monitor port is listening somehow to only this O&M network and not on ceph public network. This causes the admin node to not

[2020-12-07 11:45] smithfarm commented on #443
You had to set an IP address in `/cephadm_bootstrap/mon_ip`? This determines which network the first MON will listen on.

[code]

[2020-12-07 13:03] nistiwar commented on #443
I am deploying ses7, mon ip is auto populated after #ceph-salt update --reboot before applying..
and it is populating it correctly..On the node as well, I see the process is listening on public network :
# ss -lnp | grep 6789
tcp                LISTEN              0                    128                                                                                      X.X.X.X(Public Network):6

[2020-12-07 14:00] smithfarm commented on #443
That sounds weird. When deploying SES7 I always set `/cephadm_bootstrap/mon_ip` explicitly and verify it in `ceph-salt config ls` before running `ceph-salt apply`.

Can you confirm that firewall is OFF on all nodes?

Can you confirm again that `ceph-salt config ls /cephadm_bootstrap/mon_ip` (run on the Salt Master node) shows the correct address?

Can you confirm that `ceph config get mon public_n

[2020-12-08 06:28] nistiwar commented on #443
You were right, it was our favorite firewall which got started after a reboot on the bootstrap node after a reboot which was messing around. My bad completely, apologies for all the confusion. No sure how should I trash this bug, closing with comments will do or..?

Thanks for all your help..I  was over confident about the firewall as I checked it to be not running initially..skipped disabling it

[2020-12-08 06:52] #443 closed, assigned to nobody

[2020-12-08 08:08] nistiwar commented on #443
Just one comment though, I still didnt find the need to set  /cephadm_bootstrap/mon_ip. In SES7, it requires to set a bootstrap node, and then update the nodes using ceph-salt update --reboot. This auto-populates the mon_ip based on the bootstrap node before ceph-salt apply.

[2020-12-08 09:56] smithfarm commented on #443
How does the "auto-population" know the correct IP address when the node has multiple IP addresses?

[2020-12-15 01:51] nistiwar commented on #443
Salt is identifying minions by a FQDN, which resolves to a particular IP from DNS. When a minion is added a role of bootstrap by name, the IP that reflects in DNS is used..apologies for delay. Got tied up in an urgent delivery.

[2020-12-15 10:48] smithfarm commented on #443
Without the ability to set `/cephadm_bootstrap/mon_ip`, the public network would be dictated by DNS.

Imagine a bootstrap node with IP addresses in three different networks. The minion name can only point to one of those, and ceph-salt/cephadm has no way of knowing whether that one is in the intended public network. Imagine the intended public network really is different? For that that case, we ha

[2020-12-16 06:49] tserong commented on #196
@nistiwar from your description, ISTM you're experiencing a different error than "can't find ceph-salt formula". If you still have the problem, can you please open a separate issue and provide more details so we can track this better?

[2020-12-16 15:26] nistiwar commented on #196
I think this is sorted now. It was due to firewall issues that I was facing
all the trouble.

Thanks for asking though.

On Wed, 16 Dec, 2020, 12:19 pm Tim Serong, <notifications@github.com> wrote:

[2021-01-28 10:39] smithfarm opened #446 "Salt module version check"
From @Martin-Weiss

". . . add a function to ceph-salt that can detect version differences of modules.. (ceph salt brings new modules so it should also be able to verify the module version on the salt-master and on the salt-clients I hope..)"

Thus, when the ceph-salt-formula RPM is updated and the user forgets to run "saltutil.sync_all", `ceph-salt` would detect a version number mismatch and refu

[2021-01-29 17:02] smithfarm opened #447 "Implement TerminalRenderer._render_failure"
Thanks to https://github.com/ceph/ceph-salt/pull/408 we are getting more information on cmd.run failures, but only in CursesRenderer.

Add this nice additional output to TerminalRenderer as well.

[2021-02-02 08:00] muryliang opened #448 "Does this project support opensuse leap 15.2 ?"
I try to install SES 7  on opensuse leap 15.2, and follow the deploy guide on https://documentation.suse.com/ses/7/html/ses-all/deploy-cephadm.html.

I use ceph-salt-15.2.14+1603183994.g323e812-lp152, and  ceph-15.2.8.80+g1f4b6229ca-lp152.2.9.1. And the registry is set to docker.io/ceph/ceph:v15.2, just as the Readme.md of this project say.(But I find that the container images are centos 8 instead

[2021-02-02 11:32] smithfarm commented on #448
"support" is not the right word, but it _should_ work provided you have the following repo on all the cluster nodes (including the admin node): https://download.opensuse.org/repositories/filesystems:/ceph:/octopus/openSUSE_Leap_15.2/

[2021-02-02 15:16] muryliang commented on #448
I already installed the repo on every node.  All my nodes are qemu virtual machines, I have tried many times, but  "ceph orch host add" will always fail with the above error.

Then I tried ceph official document's cephadm deploy method(use official's cephadm script), which has no problem, the "ceph orch host add" can be executed. So I guess there might be something not compatible among Leap 15.2's

[2021-02-02 15:21] sebastian-philipp commented on #448
the error is:
[code]

[2021-02-02 15:24] sebastian-philipp commented on #448
right. https://github.com/SUSE/ceph/commit/745a9fee43677a3799721fbe070d1963de7babb9 never went upstream.

[2021-02-03 09:25] muryliang commented on #448
Thanks for your help,  I have found the exact command  produced this error: `ssh c2 cephadm  check-host --container-init --expect-hostname c2`, the `--container-init`  flag  is introduced in at v15.2.8.  I may try to deploy with v15.2.7 container image instead.

~~I also want to know if there exists opensuse Octopus version container image,  as the `docker.io/ceph/ceph` only have centos based imag

[2021-02-03 09:38] smithfarm commented on #448
~Yes: registry.opensuse.org/filesystems/ceph/octopus/upstream/images/ceph/ceph~

Sorry - it's this one: `registry.opensuse.org/filesystems/ceph/octopus/images/ceph/ceph`

[2021-02-03 09:54] muryliang commented on #448
Thanks,  the `podman pull` operation from registry.opensuse.org is very slow here.  And the 15.2.7 version has failed with another `unrecognized config option 'mgr/cephadm/container_init'`  error,  I will pull the suse image down and push on to the docker.io, and try again.

[2021-02-03 13:32] smithfarm commented on #448
@muryliang The upstream (docker.io) images have not been tested with ceph-salt and I would not expect them to work. Please use the image from `registry.opensuse.org/filesystems/ceph/octopus/images/ceph/ceph` only.

[2021-02-04 02:25] muryliang commented on #448
I tried the  `registry.opensuse.org/filesystems/ceph/octopus/images/ceph/ceph` image, it works, now everything is fine.  I suggest modify the `README.md` file  because it use `/cephadm_bootstrap/ceph_image_path set docker.io/ceph/ceph:v15.2.2` as the example.

[2021-02-04 09:26] smithfarm commented on #448
@muryliang Thanks: #450

[2021-02-04 12:15] #427 closed, assigned to smithfarm

[2021-02-09 11:33] sebastian-philipp commented on #448
This is a real bug: https://tracker.ceph.com/issues/49223 See the workaround.

[2021-04-27 17:28] ne7atuve commented on #256
Hi Christian, I have the same problem, could you please leave an email to contact me, I really need help !!!

[2021-06-21 14:45] gee456 opened #454 "Broken link in README.md for cephadm"
The link for cephadm at the top of the doc points to https://docs.ceph.com/docs/master/mgr/cephadm/ This is a broken link.

Is https://docs.ceph.com/en/latest/cephadm/#cephadm a better choice?

[2021-06-22 10:57] smithfarm commented on #454
Thanks for reporting! https://github.com/ceph/ceph-salt/pull/455

[2021-06-22 11:36] #454 closed, assigned to nobody

[2021-09-16 11:16] tserong opened #460 "cephadm user/group created by ceph-salt inconsistent with user created by cephadm package"
If you installed the RPM package of `cephadm`, it will create a cephadm user and group automatically if such don't already exist:

https://github.com/ceph/ceph/blob/d4fc4ecf0aac78f1c767e7a77599364bdf29e062/ceph.spec.in#L1548-L1551

[code]

Note that the user and group are both marked system (`-r`), the default gid of the cephadm user is the cephadm group, and the home directory is /var/lib/cephadm

[2021-09-17 00:57] sebastian-philipp commented on #460
could you remove the ability of ceph-salt to create the user in the first place? Maybe only for new deployments?

[2021-09-17 03:32] tserong commented on #460
Oooh, that's a good thought. Then we just rely on the cephadm package to make sure the user is present. I'll see if I can make that work in a way that doesn't mess with existing deployments.

[2021-09-17 08:19] tserong commented on #460
So, I thought this would perhaps be a good approach:

[code]

...and similar changes to other stanzas in that file and elsewhere that need to fill out the cephadm user's group, home directory, etc.

If that worked, it would all just "do the right thing" for both existing installs, which already have a cephadm user, and for new deployments, because when the cephadm package is installed, it'll creat

[2021-09-17 08:30] smithfarm commented on #460
@tserong I think it's worth pursuing, and thanks for your detailed write-up.

Another thought that occurred to me is: patch cephadm so it always:

1. checks if there is an existing `cephadm` user
2. if there is, adds it to the `cephadm` group.

The thing about ceph-salt is: it's only supposed to be used for Day 1 ops (everything up to and including `cephadm bootstrap`). So, in an existing cluster,

[2021-09-17 08:33] smithfarm commented on #460
Is the following correct?

1. In the case when the cephadm user does not exist, cephadm creates it *and* does foo, bar and blatz to it.
2. In the case when the cephadm user *does* exist, cephadm doesn't touch it.

If it *is* correct, I would argue that is a bug in cephadm. In the latter case, cephadm should also check and make sure that "foo, bar, and blatz" have been applied to the cephadm user -

[2021-09-17 08:51] tserong commented on #460
You can still re-run `ceph-salt apply` and it'll reapply a bunch of state (but obviously won't re-run the bootstrap). So, if we were to take my initial (non-ideal) proposed fix to ceph-salt, then any existing deployments that re-ran `ceph-salt apply` with that fix, would see a change to the cephadm group.

Yep, that's correct. Per https://github.com/ceph/ceph/blob/d4fc4ecf0aac78f1c767e7a77599364bd

[2021-09-17 09:49] smithfarm commented on #460
So, to re-phrase my question: wouldn't it make more sense if cephadm made sure any existing `cephadm` user has:

1. its gid set to cephadm,
2. its shell set to /bin/bash, and
3. its home set to /var/lib/cephadm

?

Then nobody would have to worry about what ceph-salt is doing.

[2021-09-17 09:53] smithfarm commented on #460
Regarding the idea of running `pkg.install cephadm` in the Jinja rendering phase... will that cause cephadm to be installed on all the Salt "minions", or just on the Salt "master"?

[2021-09-17 11:11] sebastian-philipp commented on #460
we need cephadm everywhere. for debugging purpose.

[2021-09-20 10:15] tserong commented on #460
The way I wrote it above, it'll end up on all salt minions vs. the current implementation which targets all minions with the cephadm role. If we want to limit it at all, we only want to limit it to the latter, because like Sebastian said, we generally want it installed everywhere.

[2021-09-20 12:30] smithfarm commented on #460
As part of this change, then, should we rip out the `cephadm` role and document that all minions get it?

[2021-09-20 12:35] smithfarm commented on #460
Well, for some definition of "everywhere", yes. But that would not extend to clients. Wasn't there a use-case for having ceph-salt manage client machines as well as machines that are part of the Ceph cluster itself?

My memory is foggy, but it seems like we should be careful if we are to render the entire cephadm role useless.

[2021-09-23 05:13] tserong commented on #460
Probably, yes. But, that might get annoying to implement if it requires changing file ownership or moving directories around. Still, that's a separate piece of work to this issue.

I'd rather not - I'd like to just fix the way ceph-salt uses the cephadm user and group, and not mess with the semantics of anything else.

Agreed. I'll try to arrange my evil appropriately.

[2021-09-29 02:20] #460 closed, assigned to nobody

[2021-11-08 11:05] smithfarm opened #463 "ceph-salt can no longer bootstrap pacific as of ceph commit 5c9227bbdf987365ae90433ac4e501e1a88b7aca"
As of https://github.com/ceph/ceph/commit/5c9227bbdf98 ceph-salt can no longer bootstrap pacific clusters:

[code]

ANALYSIS:

The relevant yaml is:

[code]

which triggers the following Salt State code:

and `my_hostname` is getting populated by this line:

[code]

which in turns triggers the following function:

[code]

All this seems to mean that the hostname returned by `socket.gethostname()`

[2021-11-08 11:14] smithfarm commented on #463
The commit https://github.com/ceph/ceph/commit/5c9227bbdf98 comes originally from here - https://github.com/ceph/ceph/pull/42772 - which was added to fix https://tracker.ceph.com/issues/51667

The description of that PR says:

[code]

which is rather cryptic, but I did confirm that ceph-salt is not issuing any `ceph orch host set-addr` command. Maybe it should be?

What's weird is that the error i

[2021-11-08 11:27] sebastian-philipp commented on #463
cc @Daniel-Pivonka

[2021-11-08 12:24] adk3798 commented on #463
From what I can see, the linked PR includes a check that requires explicitly providing an address when calling "ceph orch host add" for the host the active mgr is running on. I think this was to prevent issues where the active mgr, when trying to resolve its own ip, would resolve to a loopback address rather than a proper ip. During cephadm bootstrap this typically isn't an issue because we explic

[2021-11-08 12:28] smithfarm commented on #463
@sebastian-philipp This is happening post-bootstrap, when ceph-salt tries to add the cluster hosts to the orchestrator.

[2021-11-08 12:29] smithfarm commented on #463
How would this be done, syntactically speaking?

UPDATE: nvm

[code]

All clear now. But we'll need to patch ceph-salt for this.

[2021-11-08 12:30] sebastian-philipp commented on #463
Hm, this thing is: we should not make this a requirement, as this is often just not necessary, cause we can deduce the IP of many hosts properly anyway.

[2021-11-08 12:34] smithfarm commented on #463
Yeah, I think many will be surprised when they hit this error, especially since the error message:

1. does not make clear why mgr/cephadm thinks the IP address cannot be determined
2. does not say what the user should do to make the command succeed

At the very least it could say something like: "re-run the command providing the host's IP address as a second argument".

[2021-11-08 21:39] Daniel-Pivonka commented on #463
This error message will only appear when trying to readd the host that the active mgr is running on. we do not want to have the active mgr try to resolve its own ip as there is some weirdness with the /etc/hosts file inside containers and can result in the ip resolving to 12.7.0.0.1 which is not correct.

Im not sure we should be explaining the weirdness of the container /etc/host file in this err

[2021-11-09 10:27] smithfarm opened #466 "ceph-salt needs to assert that hosts don't think their own IP address is a loopback address"
As a pre-flight check before "apply", ceph-salt should check what each host returns for

[code]

If the value returned by this looks like a loopback address (IPv4 or IPv6), error out and tell the user to fix it.

See the code and comments in https://github.com/ceph/ceph-salt/pull/465 for more context.

[2021-11-10 08:42] #463 closed, assigned to tserong, mgfritch, smithfarm

[2022-01-28 15:56] sebastian-philipp opened #470 "rm-cluster should call `ceph mgr module disable cephadm`"
https://github.com/ceph/ceph-salt/blob/4f44d1b1847998f6b5d4447ce00ab1a47bd6ca98/ceph-salt-formula/salt/_states/ceph_orch.py#L108-L110

compare that to

* https://github.com/ceph/cephadm-ansible/pull/50
* https://github.com/ceph/ceph/pull/44810

[2022-03-29 09:40] 1397436824 opened #481 "How to resolve ceph-salt status error?"
[root@master ~]# ceph-salt status
Failed to check if ceph orch is configured on minion 'master'

[root@master ~]# cat /etc/redhat-release
CentOS Linux release 8.5.2111

[root@master ~]# uname -a
Linux master 4.18.0-348.el8.aarch64 #1 SMP Tue Oct 19 15:19:50 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux

log:
2022-03-29 04:26:30,807 [DEBUG] [salt.client] jid 20220329082617273617 return from master
202

[2022-03-29 09:42] 1397436824 commented on #481
After executing the command "salt '*' saltutil.sync_all", it still exists

[2022-05-11 12:51] oldManLemon opened #483 "ceph-salt not found"
Which repo is ceph-salt suppose to be found in when running zypper in ceph-salt as I am unable to get this working which is like step 1 of installing ceph cluster on Suse Enterprise 15.3 SP3.

I am following these instructions. https://documentation.suse.com/ses/7/html/ses-all/deploy-bootstrap.html

I assume I'm missing a repo or something obvious like I am supposed to pull it from here or set the

[2022-05-25 10:09] tserong commented on #483
Official SUSE builds of ceph-salt for SLE are only available as part of the SUSE Enterprise Storage product, which is no longer available to new customers (see https://www.suse.com/download/ses/). If you're an existing customer, you should have access to the appropriate repositories as part of your subscription.  For Ceph on openSUSE, please see https://en.opensuse.org/openSUSE:Ceph

[2022-05-26 04:11] #483 closed, assigned to nobody

[2022-06-03 04:32] tserong commented on #448
Closing again (upstream issue is long since fixed)

[2022-06-03 04:32] #448 closed, assigned to nobody

[2022-06-03 04:33] tserong commented on #57
It's mentioned :-)

[2022-06-03 04:33] #57 closed, assigned to nobody

[2022-07-25 05:20] tserong opened #485 "`ceph-salt update` reports failure when installing updates to salt itself"
When you run `ceph-salt update`, it goes off and installs all available package updates. This may include updates to salt itself. If there are salt updates, the salt minions will all usually be restarted as part of the update process. At this point, the active `ceph-salt update` will return failure, although there are still package updates being run in the background by some salt minions that have

[2022-11-30 00:16] mgfritch opened #486 "network.py salt runner not available"
Attempting to run `salt-run network.iperf` fails with the message `'network.iperf' is not available.`

This occurs after the initial install of the `ceph-salt-formula`, which will place the salt runners in the `/usr/share/salt-formulas/states/_runners` directory.

These runners need to be sync'd on the salt master via the following command:
`salt-run saltutil.sync_runners`

This issue is a place h